{% load staticfiles %}
<md-step label="{{ category.name }}" md-complete="step2.completed" ng-disabled="step2.disabled">
  <md-content>
    <p>
    <h4>
      {{ category.name }}
    </h4>
    {{ category.description }}
    </p>
    <md-checkbox>Category.question for loop</md-checkbox>
    <div>
      <md-button class="md-raised md-primary" ng-click="selected = 0">PREV</md-button>
      <md-button class="md-raised md-primary" ng-click="step1.completed = true">Complete Step 1</md-button>
      <md-button class="md-raised md-primary" ng-click="selected = 2">NEXT</md-button>
    </div>
  </md-content>
  <md-step-actions layout="row">
    <div flex>

      <md-button class="md-raised md-primary" ng-click="vm.moveToPreviousStep()">Zurück</md-button>
    </div>
    <div flex layout="row" layout-align="end top">
      <md-button class="md-warn">ABBRECHEN</md-button>
      <md-button ng-disabled="vm.showBusyText"
                 ng-click="vm.submitCurrentStep(vm.stepData[1].data, !(vm.stepData[1].data.firsname && vm.stepData[1].data.lastname))"
                 class="md-primary md-raised">
        {% verbatim %}
        {{ vm.stepData[1].data.firsname && vm.stepData[1].data.lastname ? 'NEXT' : 'WEITER' }}
        {% endverbatim %}
      </md-button>
    </div>
  </md-step-actions>
</md-step>
