<md-step label="Ergebnis" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
    <md-step-body>
        <form name="step2">
            {% csrf_token %}
            <md-content class="md-padding">
                <div layout="column" layout-align="center center" style="min-height: 200px">
                    <h4>Donnalda brechnet die Vorschläges!</h4>
                    <md-button
                            class="md-primary md-raised" type="submit"
                            ng-click="vm.post('{% url 'app:get_question_result' %}')">Vorschläge anzeigen
                    </md-button>
                </div>
            </md-content>
        </form>
    </md-step-body>
</md-step>
