<md-step label="Kategorienauswahl" md-complete="vm.stepData[1].data.completed"
         ng-disabled="vm.stepProgress < 2">
  <md-step-body>
    <form name="step2">
      <md-content class="md-padding">
        <div layout="column" layout-align="center top">
          <h4>
            An welchen Smart Home-Bereich sind Sie interessiert?
          </h4>
          {% if category_list %}
          {% for category in category_list %}
          <md-checkbox>{{category}}</md-checkbox>
          {% endfor %}
          {% endif %}
          <md-checkbox>Remote</md-checkbox>
        </div>

      </md-content>
      <md-step-actions layout="row">
        <div flex>

          <md-button class="md-raised md-primary" ng-click="vm.moveToPreviousStep()">Zurück</md-button>
        </div>
        <div flex layout="row" layout-align="end top">
          <md-button class="md-warn">ABBRECHEN</md-button>
          <md-button ng-disabled="vm.showBusyText"
                     ng-click="vm.submitCurrentStep(vm.stepData[1].data, !(vm.stepData[1].data.firsname && vm.stepData[1].data.lastname))"
                     class="md-primary md-raised">
            {% verbatim %}
            {{ vm.stepData[1].data.firsname && vm.stepData[1].data.lastname ? 'NEXT' : 'WEITER' }}
            {% endverbatim %}
          </md-button>
        </div>
      </md-step-actions>
    </form>
  </md-step-body>
</md-step>
