<md-step label="Spezifisch" md-complete="vm.stepData[2].data.completed"
         ng-disabled="vm.stepProgress < 3">

  <md-step-body>
    <form name="step1" ng-submit="vm.submitCurrentStep(vm.stepData[2].data)">
      <md-content class="md-padding">

        <div flex layout="column" layout-align="space-around start">



          <table style="border: 1px solid black;" flex>
            {% if qs_category_specific %}

            {% for questionstep in qs_category_specific %}


            {% for questionset in questionstep.question_steps.all %}

            <!-- TODO table wenn counter = 0, dann <tr> vor dem block -->
            <!-- TODO wenn counter = 1, dann </tr> nach dem block -->

            {% if forloop.parentloop.counter0|divisibleby:2 %}

            <tr style="border: 1px solid black;" flex>
              <td style="border: 1px solid black; width: 50%;">
                <div flex style="margin-left: 10px; margin-top: 20px;" id="preference-{{ forloop.counter }}">

                  <div >
                    <h3>{{ questionset.name }}</h3>
                    {% for question in questionset.question.all %}
                    <h4>{{ question.question_text }}</h4>

                    <div>
                      {% if question.answer_presentation == 'rc' %}
                      <md-radio-group ng-model="vm.stepData[2].data.accommodation_name">
                        {% for answer in question.answer_set.all %}
                        <md-radio-button value='{{ answer.pk }}'>{{ answer.answer_text }}</md-radio-button>
                        {% endfor %}
                      </md-radio-group>
                      {% elif question.answer_presentation == 'mc' %}
                      <md-checkbox-group layout="column">
                        {% for answer in question.answer_set.all %}
                        <md-checkbox ng-model="vm.stepData[2].data.question{{ question.pk }}.answer{{ answer.pk }}"
                                     value='{{ answer.pk }}'>{{ answer.answer_text }}
                        </md-checkbox>
                        {% endfor %}
                      </md-checkbox-group>
                      {% elif question.answer_presentation == 'dc' %}
                      <md-input-container>
                        <md-select ng-model="someModel" placeholder="Select a state">
                          {% for answer in question.answer_set.all %}
                          <md-option value='{{ answer.pk }}'>{{ answer.answer_text }}</md-option>
                          {% endfor %}
                        </md-select>
                      </md-input-container>
                      {% elif question.answer_presentation == 'sc' %}
                      <!-- INPUT SLIDER HERE -->
                      {% elif question.answer_presentation == 'rs' %}
                      <!-- INPUT RANGE SLIDER HERE -->
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </td>

              {% else %}

              <td style="width: 50%;">
                <div class="column" flex style="margin-left: 10px; margin-top: 20px;">
                  <div flex>
                    <h3>{{ questionset.name }}</h3>
                    {% for question in questionset.question.all %}
                    <h4>{{ question.question_text }}</h4>
                  </div>
                  <div flex>
                    {% if question.answer_presentation == 'rc' %}
                    <md-radio-group ng-model="vm.stepData[2].data.accommodation_name">
                      {% for answer in question.answer_set.all %}
                      <md-radio-button value='{{ answer.pk }}'>{{ answer.answer_text }}</md-radio-button>
                      {% endfor %}
                    </md-radio-group>
                    {% elif question.answer_presentation == 'mc' %}
                    <md-checkbox-group layout="column">
                      {% for answer in question.answer_set.all %}
                      <md-checkbox ng-model="vm.stepData[2].data.question{{ question.pk }}.answer{{ answer.pk }}"
                                   value='{{ answer.pk }}'>{{ answer.answer_text }}
                      </md-checkbox>
                      {% endfor %}
                    </md-checkbox-group>
                    {% elif question.answer_presentation == 'dc' %}
                    <md-input-container>
                      <md-select ng-model="someModel" placeholder="Select a state">
                        {% for answer in question.answer_set.all %}
                        <md-option value='{{ answer.pk }}'>{{ answer.answer_text }}</md-option>
                        {% endfor %}
                      </md-select>
                    </md-input-container>
                    {% elif question.answer_presentation == 'sc' %}
                    <!-- INPUT SLIDER HERE -->
                    {% elif question.answer_presentation == 'rs' %}
                    <!-- INPUT RANGE SLIDER HERE -->
                    {% endif %}
                  </div>
                </div>

                {% endfor %}
              </td>
            </tr>
            {% endif %}


            {% endfor %}

            {% endfor %}

            {% else %}
            <h2>FUCK THIS</h2>
            {% endif %}
          </table>

        </div>
      </md-content>
      <md-step-actions layout="row">
        <div flex layout="row" layout-align="end top">
          <md-button class="md-warn">
            ABBRECHEN
          </md-button>
          <md-button type="submit"
                     ng-disabled=""
                     class="md-primary md-raised">
            WEITER
          </md-button>
        </div>
      </md-step-actions>
    </form>
  </md-step-body>
</md-step>
