
.white {
    color: seashell;
}

.btn1 {
    color: lightgreen;
}
.active {
    background: lightgreen;
    color:seashell;
}
.btn1:not([disabled]):hover {
    background-color: lightgreen;
    color: seashell;
}

.md-button.md-fab {
    background: green;
    color: seashell;
    position:fixed;
    padding-top:7px;
}

.md-button.md-fab:not([disabled]):hover {
    background-color:green;
    color:seashell;
}

.md-dialog.fullscreen-dialog {
    max-width: 60%;
    max-height: 80%;
    width: 60%;
    height: 80%;
    border-radius: 0;
}

/*
 * 1. Google Font
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

/*
 * Helper Class: background
 */
.bg-image-1 {
    position: relative;
}

.bg-image-1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-image-1 {
    background: url(../resources/sm.jpg) no-repeat center center/cover;
    background: url(../resources/smart_pet_scenario.jpg) no-repeat center center/cover;
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 966px) {
    .bg-image-1 {
        background: url(../resources/smart_pet_scenario.jpg) no-repeat center center/cover;
        width: 93%;
        margin: auto;
    }
}

.bg-image-1::before {
    background-color: rgba(0, 0, 0, 0.7);
}

.facts h3 {
    color: green;
    text-align: center;
}