<!--TODO: create django template from this -->
<script type="text/ng-template" id="loginTemplate.html">
    <md-dialog aria-label="Login" class="fullscreen-dialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="closeDialog()" class="md-icon-button">
                    <md-icon class="fa fa-times fa-2x" aria-hidden="false"></md-icon>
                </md-button>
                <h2 flex="flex">Login</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form action={%  url 'app:login' %} method="post">
                {% csrf_token %}
                <div layout="layout" layout-sm="column"></div>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <md-input-container flex="flex">
                    <label>User name</label>
                    <input ng-model="user.name" type="text" name="username" value="{{ name }}"/>
                </md-input-container>
                <md-input-container flex="flex">
                    <label>Password</label>
                    <input ng-model="user.password" type="password" name="password" value="{{ password }}"/>
                </md-input-container>
                <md-button type ="submit" layout-align="center">
                    <!--input type="submit" value="Log In" md-buttonlayout-align="center"-->Submit
                </md-button>
            </form>
        </md-dialog-content>
    </md-dialog>
</script>