<md-content class="md-padding" ng-controller="authenticationController">
  <div layout="row" layout-align="center start">
    <md-button class="btn1" ng-click="showLoginForm($event)" ng-style="{'color':'forestgreen',
        'font-size':'200%', 'height': '200%'}">Anmelden</md-button>
    <md-button class="btn1" ng-click="showRegistrationForm($event)" ng-style="{'color':'forestgreen',
        'font-size':'200%', 'height': '200%'}">Registrieren</md-button>
  </div>
  <p> Bei uns können sie ihre "Smart Home"-Produkte werben durch die einfache Gestaltung von möglichen
    Alltagsszenarien</br>
    mit ihren Produkten. Machen sie den Nutzer mithilfe von verschiedenen, wie Text und Bildern klar, wie der Nutzer
    durch ihre "Smart Home"-Produkte seinen Alltag verbessern kann. Stellen sie die Zukungt vor.
    Füge hier irgendwelche Infos hinzu, die den Hersteller gefallen könnte. Auch Bilder und Videos kann
    man hier leicht raufpacken.
  </p>
</md-content>