<md-content class="md-padding" ng-controller="authenticationController">
  <!--p style="border-style: solid;"> Bei uns können sie ihre "Smart Home"-Produkte werben durch die einfache Gestaltung von möglichen
    Alltagsszenarien</br>
    mit ihren Produkten. Machen sie den Nutzer mithilfe von verschiedenen, wie Text und Bildern klar, wie der Nutzer
    durch ihre "Smart Home"-Produkte seinen Alltag verbessern kann. Stellen sie die Zukungt vor.
    Füge hier irgendwelche Infos hinzu, die den Hersteller gefallen könnte. Auch Bilder und Videos kann
    man hier leicht raufpacken.
  </p-->
  <div>
  <h1>Warum DONAALDA?</h1>

  <p>DONAALDO für Hersteller ist gut.</p>

  <h2>Welchen Nutzen?</h2>

  <p>Großer Nutzen.</p>

  <h3>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam.</h3>

  <p>Duarum enim vitarum nobis erunt instituta capienda. Quid igitur, inquit, eos responsuros putas? Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Vide, quaeso, rectumne sit. </p>

  <p>Ille enim occurrentia nescio quae comminiscebatur; Hoc ille tuus non vult omnibusque ex rebus voluptatem quasi mercedem exigit. Primum in nostrane potestate est, quid meminerimus? Dic in quovis conventu te omnia facere, ne doleas. Etiam beatissimum? A mene tu? </p>

  <p>Id est enim, de quo quaerimus. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Proclivi currit oratio. Sed erat aequius Triarium aliquid de dissensione nostra iudicare. Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Quae duo sunt, unum facit. Quid censes in Latino fore? Animi enim quoque dolores percipiet omnibus partibus maiores quam corporis. Mihi, inquam, qui te id ipsum rogavi? Etenim si delectamur, cum scribimus, quis est tam invidus, qui ab eo nos abducat? </p>
  </div>
  <div layout="row" layout-align="center start">
    <md-button class="btn1" ng-click="showRegistrationForm($event)" ng-style="{'color':'forestgreen',
        'font-size':'200%', 'height': '200%'}">Registrieren</md-button>
    <md-button class="btn1" ng-click="showLoginForm($event)" ng-style="{'color':'forestgreen',
        'font-size':'200%', 'height': '200%'}">Anmelden</md-button>
  </div>
  <!--p style="border-style: solid;"> Hallo Micha, das wäre mein Vorschlag. Die Ränder mach ich auch noch. Blablablbalblablablbalblablbalblabl</p-->
</md-content>