<md-sidenav style="background:forestgreen;position:fixed;color:seashell;" md-component-id="profile"
            class="md-sidenav-left">
  <!--TODO: create foreach to get these categories from backend-->
  <div><h1>Profile </h1></div>
  {% if latest_category_list %}
  {% for category in latest_category_list %}
  <div>
    <md-list>
      <md-list-item class="md-2-line">
        <md-checkbox></md-checkbox>
        <div class="md-list-item-text">
          <!-- TODO BACKEND: give all attributes regarding a category -->
          <h3>{{ category.name }}</h3>
          <p>Description: {{ category.description }} </p>
        </div>
      </md-list-item>
    </md-list>
  </div>
  {% endfor %}
  {% else %}
  <div>No categories are available</div>
  {% endif %}

</md-sidenav>