{% load staticfiles %}
<link rel="stylesheet" href="{% static 'app/assets/css/custom/navBarHeader.css' %}">
<header role="banner" id="fh5co-header">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" fade>  <!-- singular -->
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message|safe }}
        </div>

        {% else %}
        <div class="alert alert-{{ message.tags }}" fade>  <!-- singular -->
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message|safe }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endblock %}
        <!-- TODO create own css classes -->
        <div class="leftNavbar">
          <!-- Mobile Toggle Menu Button -->
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse"
             data-target="#navbar"
             aria-expanded="false" aria-controls="navbar"><i></i></a>
          <a class="navbar-brand" href="/">
            <div>
              <img class="navbarIcon" alt="Brand" src="{% static 'app/assets/images/myAvatar_icon.png' %}">
              <span>Donaalda</span>
            </div>
          </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if navInfo == 'index' %}
            <li class="active"><a href="#" data-nav-section="home"><span>Start</span></a></li>
            <li><a href="#" id="btn"><span>Kategorien</span></a></li>
            <li><a href="#" data-nav-section="whatsIsDonaalda"><span>Donaalda</span></a></li>
            <li><a href="#" data-nav-section="livingSituation"><span>Wohnsituation</span></a></li>
            <li><a href="#" data-nav-section="scenarios"><span>Szenarien</span></a></li>
            <li><a href="#" data-nav-section="comments"><span>Bewertungen</span></a></li>
            {% endif %}
            {% if navInfo == 'category' %}
            <li><a href="#" onclick="back()">Zurück</a></li>
            <!-- id="start" removed from line below -->
            <li class="active"><a href="#" data-nav-section="home"><span>{{ categoryName }}</span></a></li>
            <li><a href="#" data-nav-section="questions"><span>Fragen</span></a></li>
            <li><a href="#" data-nav-section="information"><span>Szenarien</span></a></li>
            {% endif %}
            {% if navInfo == 'product' %}
            <li class="active"><a href="#" onclick="back()"><span>Zurück</span></a></li>
            <li class="active"><a href="#" data-nav-section="home"><span>{{ productName }}</span></a></li>
            <li><a href="#" data-nav-section="intro"><span>Beschreibung</span></a></li>
            <li><a href="#" data-nav-section="images"><span>Bilder</span></a></li>
            <li><a href="#" data-nav-section="tecData"><span>Technische Daten</span></a></li>
            {% endif %}
            {% if navInfo == 'filter' %}
            <li class="active"><a href="#" onclick="back()"><span>Zurück</span></a></li>
            <li class="active"><a href="#" data-nav-section="home"><span>Oben</span></a></li>
            <li><a href="#" data-nav-section="filter"><span>Filter</span></a></li>
            <li><a href="#" data-nav-section="results"><span>Ergebnisse</span></a></li>
            {% endif %}
            {% if navInfo == 'provider' %}
            <li><a href="#" onclick="back()"><span>Zurück</span></a></li>
            <li class="active"><a href="#" data-nav-section="home"><span>{{ providerName }}</span></a></li>
            <li><a href="#" data-nav-section="description"><span>Beschreibung</span></a></li>
            <li><a href="#" data-nav-section="scenarios"><span>Szenarien</span></a></li>
            <li><a href="#" data-nav-section="products"><span>Produkte</span></a></li>
            <li><a href="#" data-nav-section="tecData"><span>Technische Daten</span></a></li>
            {% endif %}
            {% if navInfo == 'scenario' %}
            <li><a href="#" onclick="back()"><span>Zurück</span></a></li>
            <li class="active"><a href="#" data-nav-section="home"><span>{{ scenarioName }}</span></a></li>
            <li><a href="#" data-nav-section="intro"><span>Beschreibung</span></a></li>
            <li><a href="#" data-nav-section="products"><span>Produkte</span></a></li>
            <li><a href="#" data-nav-section="comments"><span>Bewertungen</span></a></li>
            {% endif %}
            {% if navInfo == 'contact' %}
            <li class="active"><a href="#" onclick="back()" data-nav-section="banner"><span>Zurück</span></a></li>
            <li class="active"><a href="#" data-nav-section="contact"><span>Frag Donaalda</span></a></li>

            {% endif %}

            {% if not request.user.is_authenticated %}
            <li>
              <div class="btn-group">

                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Kontakt" data-placement="bottom"
                        onclick="contact()">
                  <i class="glyphicon glyphicon-envelope"></i>
                </button>

                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Anmelden" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalLogin">
                  <i class="glyphicon glyphicon-log-in"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Registrieren" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalRegister">
                  <i class="glyphicon glyphicon-new-window"></i>
                </button>
              </div>
            </li>
            {% else %}
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Kontakt" data-placement="bottom"
                        onclick="contact()">
                  <i class="glyphicon glyphicon-envelope"></i>
                </button>
                {% if user.is_staff %}
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Verwaltung" data-placement="bottom"
                        onclick="admin()">
                  <i class="glyphicon glyphicon-cog"></i>
                </button>
                {% endif %}
                <!--TODO: Frontend logout here, acquire csrf token like this https://docs.djangoproject.com/en/1.9/ref/csrf/#ajax-->
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Abmelden" data-placement="bottom"
                        onclick="logOut()">
                  <i class="glyphicon glyphicon-log-out"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Profil" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalProfile">
                  <i class="glyphicon glyphicon-user"></i>
                </button>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>


<script type="text/javascript">

  $(document).ready(function () {

    window.setTimeout(function () {
      $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
        $(this).remove();
      });
    }, 3000);

    $("#btn").click(function () {
      $("html, body").animate({
        scrollTop: $("#test").offset().top - 120
      }, 2000);
    });
  });

</script>

