<md-toolbar class="md-primary" style="position:fixed;" layout="row" layout-align="center end"
            md-shrink-speed-factor="0.03" md-scroll-shrink="true">
  <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
    <div layout="row" ng-controller="{% block ng_controller_authenticator %}authenticationController{% endblock %}">
      <h1 class="white"><a href="{% url 'app:index' %}">DONAALDA</a></h1>
      <span flex></span>
      <!--TODO: link to actual django template in html_html_templates -->
      <md-button style="color:seashell" md-align="center-center">
        {% if not message == ""%}
            {% if state == "success" %}
                Welcome {{ message  }}
            {% else %}
                {{ message }}
            {% endif %}
        {% endif %}
      </md-button>
      {% if not request.user.is_authenticated %}
      <md-button style="color:seashell" ng-click="showRegistrationForm($event)">
        Register
      </md-button>
      <md-button style="color:seashell" ng-click="showLoginForm($event)">
        Log In
      </md-button>
      {% else %}
      <md-button style="color:seashell" ng-click="openProfile()">
        Profile
      </md-button>
      {% csrf_token %}
      <md-button style="color:seashell; margin:auto" md-align="center-center" href="{% url 'app:logout' %}">
        Logout
      </md-button>
      {% endif %}
    </div>
    <span flex></span>
    <div class="md-padding" layout="column" layout-padding style="height: 0px;">
      <md-tabs md-selected="currentTab" md-stretch-tabs="always" class="md-primary md-hue-1" md-dynamic-height
      md-border-bottom>
        <md-tab id="1" label="Nutzer">
          {% include "app/html_templates/categoryGridTemplate.html" %}
        </md-tab>
        <md-tab id="2" label="Hersteller">
          {% include "app/html_templates/providerInfoTemplate.html" %}
        </md-tab>
      </md-tabs>
    </div>
  </div>
</md-toolbar>
<!--
<md-content>
    <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
        <div layout="row" ng-controller="authenticationController">
            <h1 class="white">DONAALDA</h1>
            <span flex></span>

            <md-button style="color:seashell" ng-click="showLoginForm($event)">
                Log In
            </md-button>
            <md-button style="color:seashell"
                       ng-click="showRegistrationForm($event)">
                Register
            </md-button>
            <md-button style="color:seashell" ng-click="openProfile()">
                Profile
            </md-button>
        </div>
        <span flex></span>
        <md-tabs md-selected="currentTab" md-stretch-tabs="always" class="md-primary md-hue-1">
            <md-tab id="1">
                <md-tab-label style="color:seashell">Nutzer</md-tab-label>
            </md-tab>
            <md-tab id="2">
                <md-tab-label style="color:seashell">Hersteller</md-tab-label>
            </md-tab>
        </md-tabs>
    </div>
</md-content>
-->