<md-sidenav style="background:forestgreen;position:fixed;color:seashell; padding-left: 10px;" md-component-id="profile"
            class="md-sidenav-left">
  <div>
    <h1>Profil</h1>
    <h2>{{ user.first_name }}</h2>
    <h2>{{ user.last_name }}</h2>
    <h2>{{ user.email }}</h2>
  </div>

  <div>
    <h3>Profileinstellungen</h3>
    <md-list>
        <form action={%  url 'app:profile' %} method="post">{% csrf_token %}
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Vornamen ändern:</h3>
                  <p>Bitte geben Sie den gewünschten Vornamen an.</p>
                  <md-input-container flex="flex">
                    <label>Vorname</label>
                    <input ng-model="user.name" type="text" name="firstname" value="{{ firstname }}"/>
                  </md-input-container>
                </div>
              </md-list-item>

              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Nachname ändern:</h3>
                  <p>Bitte geben Sie den gewünschten Nachnamen an.</p>
                  <md-input-container flex="flex">
                    <label>Nachname</label>
                    <input ng-model="user.lastname" type="text" name="lastname" value="{{ lastname }}"/>
                  </md-input-container>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Email ändern:</h3>
                  <p>Bitte geben Sie Ihre neue Email-Adresse an.</p>
                  <md-input-container flex="flex">
                    <label>Email</label>
                    <input ng-model="user.email" type="text" name="email" value="{{ email }}"/>
                  </md-input-container>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Passwort ändern:</h3>
                  <p>Bitte geben Sie Ihr altes Passwort ein:</p>
                  <md-input-container flex="flex">
                    <label>Altes Passwort</label>
                    <input ng-model="user.password_old" type="password" name="password_old" value="{{ password }}"/>
                  </md-input-container>
                  <p>Bitte geben Sie Ihr neues Passwort ein:</p>
                  <md-input-container flex="flex">
                    <label>Neues Passwort</label>
                    <input ng-model="user.password_new" type="password" name="password_new" value="{{ password }}"/>
                  </md-input-container>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Konto Löschen</h3>
                  <p>Bitte geben Sie Ihr Passwort ein, um das Löschen des Accounts zu verifizieren.</p>
                  <md-input-container flex="flex">
                    <label>Passwort</label>
                    <input ng-model="user.password_delete" type="password" name="password_delete" value="{{ password }}"/>
                  </md-input-container>
                </div>
              </md-list-item>
            <input type="hidden" name="username" value="{{ user.username }}">
            <md-button type ="submit">
                    <!--input type="submit" value="Log In" md-buttonlayout-align="center"-->Abschicken
            </md-button>
        </form>
    </md-list>
  </div>
  {% if latest_category_list %}
  <h3>Kategorien</h3>
  {% for category in latest_category_list %}
  <div>

    <md-list>
      <md-list-item class="md-2-line">
        <md-checkbox></md-checkbox>
        <div class="md-list-item-text">
          <h3>{{ category.name }}</h3>
          <p>Description: {{ category.description }} </p>
        </div>
      </md-list-item>
    </md-list>
  </div>
  {% endfor %}
  {% else %}
  <div>No categories are available</div>
  {% endif %}

</md-sidenav>