<md-content layout="column" style="height:500px" layout-fill class="md-padding" ng-controller="authenticationController">

  <div>
    <h2>Was ist DONAALDA?</h2>

    <p>
      DONAALDA ist ein Service, der Produkte im Bereich SMART HOME zu sinnvollen
      Gesamtkonzepten in den Bereichen Sicherheit, Gesundheit, Energie und Komfort
      verknüpft und diese simpel darstellt. <br>
      Während Interessierten eine Plattform geboten wird, Produkte sowie Gesamtkonzepte zu vergleichen,
      können Sie als Vertreiber auf angenehme Art und Weise Ihre Produkte verwalten und komplette Szenarien erstellen,
      um dem Kunden Ihren Mehrwert qualitativ hochwertig und ansprechend nahe zu bringen.
    </p>

    <p>
      DONAALDA steht übrigens für Data Organizing Native Ambient Assisted Living Distribution Adviser.
    </p>

    <h2>Was kostet DONAALDA?</h2>

    <p>
      DONAALDA ist kostenlos und eine Initiative von Connected Living e.V.,
      um im Bereich SMART HOME eine faire Vergleichsplattform für Kunden,
      sowie eine Werbeplattform für jegliche Vertreiber in diesem Bereich zu bieten.
    </p>

    <h2>Wie sieht denn so ein Szenario aus?</h2>

    <p>
      Hier gibt es eine immersive Erfahrung mit den SMART HOME Konzepten von IOLITE:

      hier tolle bilder
    </p>

    <h2>Wie kann ich mich als Vertreiber registrieren?</h2>

    <p>
      Bitte kontaktieren Sie uns unter 123456-789, oder schreiben eine E-Mail an info@donaalda.com
      mit dem Betreff: "Vertreiber: Registrierung [Ihr Name]". Da wir SCAM,
      können wir leider keine automatisierte Registrierung, sondern eine persönliche Servicekraft anbieten.
    </p>

    <!--div layout="row" layout-align="center start">
      <md-button ng-click="showLoginForm($event)" ng-style="{'color':'forestgreen',
      'font-size':'200%', 'height': 'auto'}">Anmelden</md-button>
    </div-->
  </div>
  <!--p style="border-style: solid;"> Hallo Micha, das wäre mein Vorschlag. Die Ränder mach ich auch noch. Blablablbalblablablbalblablbalblabl</p-->
</md-content>