<md-toolbar class="md-primary md-tall" style="position:fixed;" layout="row" layout-align="center end">
  <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
    <div layout="row" ng-controller="{% block ng_controller_authenticator %}authenticationController{% endblock %}">
      <div>
        <h1 class="white">
          <!--
          Rubber Duck by Y E J I N from the Noun Project
          -->
          <md-icon class="md-48" md-svg-icon="../../../static/app/assets/resources/trump.svg"></md-icon>

          <md-icon class="material-icons md-light "> face </md-icon>
          <a href="{% url 'welcome:index' %}">DONAALDA</a>
        </h1>
      </div>
      <!--h1 class="white"><a href="{% url 'welcome:index' %}">DONAALDA</a></h1-->
      <span flex></span>
      <md-button style="color:seashell" md-align="center-center">
        {% if not message == ""%}
        {% if state == "success" %}
        Welcome {{ message }}
        {% else %}
        {{ message }}
        {% endif %}
        {% endif %}
      </md-button>
      {% if not request.user.is_authenticated %}
      <md-button style="color:seashell" ng-click="showRegistrationForm($event)">
        Register
      </md-button>
      <md-button style="color:seashell" ng-click="showLoginForm($event)">
        Log In
      </md-button>
      {% else %}
      <md-button style="color:seashell" ng-click="openProfile()">
        Profile
      </md-button>
      {% csrf_token %}
      <md-button style="color:seashell; margin:auto" md-align="center-center" href="{% url 'app:logout' %}">
        Logout
      </md-button>
      {% endif %}
    </div>
    <span flex></span>


    <!-- TODO FRONTEND: bower install md-steppers --save , https://jsfiddle.net/vcdbuyru/13/ 
    https://www.npmjs.com/package/md-steppers -->

  </div>
</md-toolbar>

<md-content class="md-primary md-tall" style="position:fixed;" layout="row" layout-align="center end">
  <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
    <div layout="row">
      <h1 class="white">DONAALDA</h1>
      <span flex></span>
      <!--TODO: link to actual django template in html_templates -->
      <md-button style="color:seashell" md-align="center-center">
        {% if not message == ""%}
        {% if state == "success" %}
        Welcome {{ message }}
        {% else %}
        {{ message }}
        {% endif %}
        {% endif %}
      </md-button>
      {% if not request.user.is_authenticated %}
      <md-button style="color:seashell" ng-click="showRegistrationForm($event)">
        Register
      </md-button>
      <md-button style="color:seashell" ng-click="showLoginForm($event)">
        Log In
      </md-button>
      {% else %}
      <md-button style="color:seashell" ng-click="openProfile()">
        Profile
      </md-button>
      {% csrf_token %}
      <md-button style="color:seashell; margin:auto" md-align="center-center" href="{% url 'app:logout' %}">
        Logout
      </md-button>
      {% endif %}
    </div>
    <span flex></span>
    <!-- TODO FRONTEND: bower install md-steppers --save , https://jsfiddle.net/vcdbuyru/13/
    https://www.npmjs.com/package/md-steppers -->


  </div>
</md-content>