{% load staticfiles %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{% static 'app/index-app.js' %}"></script>


<link rel="stylesheet" href="{% static 'app/index-style.css' %}">

<section id="fh5co-questions" data-section="questions"
         ng-app="{% block ng_app %}donaaldaApp{% endblock %}"
         ng-controller="{% block ng_controller_theme %}questionController as vm{% endblock %}"
         ng-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">Fragen</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <md-stepper-card-content class="md-no-padding" style="width:100%;">
      <md-steppers md-dynamic-height md-stretch-steppers="always" md-selected="vm.selectedStep"
                   md-busy-text="'Einen Moment bitte...'" md-busy="vm.showBusyText">

        {% include "app/html_templates/questionSteps/data.html" %}

        {% include "app/html_templates/questionSteps/preferences.html" %}

        {% include "app/html_templates/questionSteps/random.html" %}

        {% include "app/html_templates/questionSteps/finish.html" %}

      </md-steppers>
    </md-stepper-card-content>
  </div>
</section>

