{% include "app/html_templates/modals/loginModal.html" %}
{% include "app/html_templates/modals/registerModal.html" %}
{% include "app/html_templates/modals/profileModal.html" %}
{% include "app/html_templates/modals/passwordModal.html" %}
{% include "app/html_templates/modals/deleteAccountModal.html" %}

{% if modalInfo == 'category' %}
{% elif modalInfo == 'contact' %}
{% elif modalInfo == 'filter' %}
{% elif modalInfo == 'index' %}
{% elif modalInfo == 'product' %}
{% elif modalInfo == 'provider' %}
{% elif modalInfo == 'scenario' %}
{% else %}
{% endif %}