{% load staticfiles %}
<div class="modal fade" id="myModalChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action={% url 'app:password_changing' %} method="post">
      {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel2">Passwort ändern</h3>
      </div>
      <div class="modal-body">
        <h4>Passwort (ändern)</h4>
        <div class="input-group" style="margin-bottom: 10px;">
          <span class="input-group-addon" id="basic-addon12"><i class="icon-key"></i></span>
          <input type="password" class="form-control" name="password_old" placeholder="Altes Passwort"
                 aria-describedby="basic-addon12" value="{{ password }}">
        </div>
        <div class="input-group" style="margin-bottom: 5px;">
          <span class="input-group-addon" id="basic-addon13"><i class="icon-key"></i></span>
          <input type="password" class="form-control" name="password_new" placeholder="Neues Passwort"
                 aria-describedby="basic-addon13" value="{{ password1 }}">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon14"><i class="icon-key"></i></span>
          <input type="password" class="form-control" name="password_new_repeat"
                 placeholder="Neues Passwort wiederholen"
                 aria-describedby="basic-addon14" value="{{ password2 }}">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Doch nicht</button>
        <button type="submit" class="btn btn-primary">Passwort ändern</button>
      </div>
      </form>
    </div>
  </div>
</div>