{% extends "app/base.html" %}

{% block head %}
{% with navInfo="filter" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block navbar %}
{% with navInfo="filter" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}

{% load staticfiles %}

<script src="{% static 'app/filter.js' %}"></script>
<body ng-app="filterApp">


<section id="fh5co-page" data-section="home"
         style="background-image: url({% static 'app/assets/images/full_image_1.jpg' %});"
         data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-left">Filter-Seite</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-questions" data-section="filter" ng-controller="ProductController">
  <!--section-header-->
  <div class="container">
    <div class="row" style="width:100%">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Produkt-Filter</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Wählen Sie nach welchen Attributen die Produkte gefiltert werden sollen.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--kategorie filter-->
  <div class="md-padding" ng-cloak>
    <div class="container">
      <legend>Kategorie-Filter</legend>
      <!-- Angular solution -->
      {% verbatim %}
      <div style="flex-flow: row wrap; display: flex;">
        <div style="flex:1 0 25%;"
             ng-repeat="category in categories">
          <md-checkbox class="md-primary"
                       name="checkbox-{{category.name}}"
                       ng-click="$log.log('clicked category')">
            {{ category.name }}
          </md-checkbox>
        </div>
      </div>
      {% endverbatim %}
    </div>
  </div>

  <div class="container">
    <legend>Produkttyp-Filter</legend>
    <!-- Angular solution -->
    {% verbatim %}
    <div style="flex-flow: row wrap; display: flex;">
      <div style="flex:1 0 25%;"
           ng-repeat="productType in productTypes">
        <md-checkbox class="md-primary"
                     name="checkbox-{{productType.name}}"
                     ng-click="$log.log('clicked productType')">
          {{ productType.type_name }}
        </md-checkbox>
      </div>
    </div>
    {% endverbatim %}
  </div>

  <!--hersteller-filter-->
  <div class="md-padding" ng-cloak>
    <div class="container">
      <legend>Hersteller-Filter</legend>
      <!-- Angular solution -->
      {% verbatim %}
      <div style="flex-flow: row wrap; display: flex;">
        <div style="flex:1 0 30%;"
             ng-repeat="provider in providers">
        <md-checkbox class="md-primary"
                     name="checkbox-{{provider.name}}"
                     ng-click="$log.log('clicked provider')">
          {{ provider.name }}
        </md-checkbox>
        </div>
      </div>
      {% endverbatim %}
    </div>
  </div>
</section>

<section id="fh5co-testimonials" data-section="results">

  <!--section-header-->
  <div class="container">
    <div class="row" style="width:100%">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Produkt-Liste</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Die Produkt-Liste wurde nach ihren Interessen gefiltert. Sie haben nun die Möglichkeit diese zu
              sortieren.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--sorting-selectbox-->
  <div ng-controller="sorting" class="md-padding" ng-cloak>
    <div class="container">
      <div layout="row" layout-align="space-around center">
        <md-input-container>
          <label>Sortieren nach...</label>
          <md-select ng-model="sort">
            {% verbatim %}
            <md-option ng-repeat="sort in sorts" value="{{sort}}">{{sort}}</md-option>
            {% endverbatim %}
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>
</section>

{% comment %}
<!--script for range slider-->
<script type="text/ng-template" id="range-slider.tpl.html">
  {% verbatim %}
  <div class='range-slider-container'>
    <div class='range-slider-left' ng-style="{width:lowerWidth+'%'}">
      <md-slider ng-model="lowerValue" min='{{min}}' max='{{lowerMaxLimit}}' step="{{step}}"
                 aria-label="lowerSlider"></md-slider>
    </div>
    <div class="range-track-line"
         ng-style="{width:tracker.width+'%',left:tracker.left+'%',right:tracker.right+'%'}"></div>
    <div class='range-slider-right' ng-style="{width:upperWidth+'%'}">
      <md-slider ng-model="upperValue" min="{{upperMinLimit}}" max="{{max}}" step="{{step}}"
                 aria-label="upperSlider"></md-slider>
    </div>
  </div>
  {% endverbatim %}
</script>
{% endcomment %}

</body>
{% endblock %}
