{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<html class="no-js lt-ie9 lt-ie8">
<html class="no-js lt-ie9">
<html class="no-js">
<head>

  {% include "app/html_templates/header/headerTemplate.html" with navInfo = 'filter' %}

  <!-- TODO: implement sass whey
  {% comment %}
  {% load compile_static %}
  <link rel="stylesheet" href="{% static 'app/assets/sass/style.scss'|compile %}"/>
  {% endcomment %}
  -->


  <!--tags needed for angular material selects-->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

</head>


<body ng-app="selectDemoOptGroups">

{% include "app/html_templates/header/navbarHeader.html" with navInfo='filter'%}

<section id="fh5co-page" data-section="home"
         style="background-image: url({% static 'app/assets/images/full_image_1.jpg' %});"
         data-stellar-background-ratio="0.5">
  <div>
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-left">Filter-Seite</h1>
            <h3 class="text-left"
                style="color: #ddd; margin-top: -20px;">Alle Produkte nach Attributen gefiltert</h3>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default pull-right"
                 style="background-color: rgba(245, 245, 245, 0.6); max-width: 200px; max-height: 150px;">
              {% if product.provider.is_visible %}
              <div class="btn">
                {% else %}
                <div class="panel-body">
                  {% endif %}
                  <img style="max-height: 100%; max-width: 100%;"
                       {% if product.provider.is_visible %}
                       onclick="provider()"
                       {% endif %}
                       src="{{ product.provider.providerprofile.logo_image.url }}"
                       alt="providerImg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slant"></div>
  </div>
</section>

<section id="fh5co-questions" data-section="intro">

  <!--section-header-->
  <div class="container">
    <div class="row" style="width:100%">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Filter</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Wählen Sie nach welchen Attributen die Produkte gefiltert werden.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% verbatim %}
  <!--filter-container for material-checkboxes-->
  <div ng-controller="AppCtrl" class="md-padding" ng-cloak>

    <!--hersteller-filter-->
    <div class="container">
      <legend>Hersteller-Filter</legend>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Hersteller 1</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Hersteller 2</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Hersteller 3</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Hersteller 4</md-checkbox>
        </div>
      </div>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Hersteller 5</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Hersteller 6</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Hersteller 7</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Hersteller 8</md-checkbox>
        </div>
      </div>
    </div>

    <!--preis-filter-->
    <div class="container">
      <legend>Preis-Filter</legend>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Preissegment 1</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Preissegment 2</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Preissegment 3</md-checkbox>
        </div>
      </div>
    </div>

    <!--kategorie-filter-->
    <div class="container">
      <legend>Kategorie-Filter</legend>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Komfort</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Gesundheit</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Sicherheit</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Energie</md-checkbox>
        </div>
      </div>
    </div>

    <!--button um section mit weiteren filtern anzuzeigen-->
    <div class="container" style="text-align:center">
      <button type="button" class="btn btn-link">Weitere Filter anzeigen</button>
    </div>
  </div>
  {% endverbatim %}
</section>


<section id="fh5co-work" data-section="images">

  <!--section-header-->
  <div class="container">
    <div class="row" style="width:100%">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Weitere Filter (hidden-section)</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Wählen Sie noch präzisere Filter-Attribute.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% verbatim %}
  <!--filter-container for material-checkboxes-->
  <div ng-controller="AppCtrl" class="md-padding" ng-cloak>

    <!--szenario-filter-->
    <div class="container">
      <legend>Szenario-Filter</legend>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Szenario 1</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Szenario 2</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Szenario 3</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Szenario 4</md-checkbox>
        </div>
      </div>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Szenario 5</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Szenario 6</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Szenario 7</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Szenario 8</md-checkbox>
        </div>
      </div>
    </div>

    <!--produktkategorie-filter-->
    <div class="container">
      <legend>Produktkategorie-Filter</legend>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Küchengeräte</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Sensoren</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Aktoren</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Beleuchtung</md-checkbox>
        </div>
      </div>
      <div layout="row" layout-align="space-around center">
        <div>
          <md-checkbox class="md-primary">Heimkino</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Brandschutz</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Sirenen</md-checkbox>
        </div>
        <div>
          <md-checkbox class="md-primary">Sonstiges</md-checkbox>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}


  {% verbatim %}
  <!--filter-container for material-selects-->
  <div ng-controller="SelectOptGroupController" class="md-padding" ng-cloak>

    <div class="container">
      <div layout="row" layout-align="space-around center">

        <md-input-container>
          <label>Preissegment</label>
          <md-select ng-model="size">
            <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Produktkategorie</label>
          <md-select ng-model="selectedToppings" multiple>
            <md-optgroup label="Küchengeräte">
              <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'Küchengeräte' }">{{topping.name}}</md-option>
            </md-optgroup>
            <md-optgroup label="Sensoren">
              <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'Sensoren' }">{{topping.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>
  {% endverbatim %}
</section>




<section id="fh5co-testimonials" data-section="tecData">

  <!--section-header-->
  <div class="container">
    <div class="row" style="width:100%">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Produkt-Liste</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Die Produkt-Liste wurde nach ihren Interessen gefiltert. Sie haben nun die Möglichkeit diese zu sortieren.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% verbatim %}
  <!--sorting-selectbox-->
  <div ng-controller="SelectOptGroupController2" class="md-padding" ng-cloak>

    <div class="container">
      <div layout="row" layout-align="space-around center">

        <md-input-container>
          <label>Sortieren nach...</label>
          <md-select ng-model="size">
            <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>
  {% endverbatim %}

  <!--product-list-->
  {% if all_products %}
  {% for product in all_products %}
  <div class="col-md-4 col-sm-6 col-xxs-12">
    <a href="{{ product.image1.url }}" class="fh5co-project-item image-popup to-animate">
      <img src="{{ product.image1.url }}" alt="Image" class="img-responsive">
    </a>
  </div>
  {% endfor %}
  {% endif %}

</section>






{% include "app/html_templates/sections/commentSection.html" %}

<!-- Footer -->
{% include "app/html_templates/footer/footerTemplate.html" %}

{% include "app/html_templates/modals/modals.html" %}

<!--script for angular selects-->
<script type="text/javascript">
  angular
    .module('selectDemoOptGroups', ['ngMaterial'])
    .controller('SelectOptGroupController', function($scope) {
      $scope.sizes = [
        "Preissegment 1",
        "Preissegment 2",
        "Preissegment 3",
        "Preissegment 4"
      ];
      $scope.toppings = [
        { category: 'Küchengeräte', name: 'Kühlschrank' },
        { category: 'Küchengeräte', name: 'Herd' },
        { category: 'Küchengeräte', name: 'Kaffemaschine' },
        { category: 'Küchengeräte', name: 'Mikrowelle' },
        { category: 'Sensoren', name: 'Bewegungsmelder' },
        { category: 'Sensoren', name: 'Türkontakt' },
        { category: 'Sensoren', name: 'Luftfeuchtigkeitsmesser' }
      ];
      $scope.selectedToppings = [];
      $scope.printSelectedToppings = function printSelectedToppings() {
        var numberOfToppings = this.selectedToppings.length;
        // If there is more than one topping, we add an 'and'
        // to be gramatically correct. If there are 3+ toppings
        // we also add an oxford comma.
        if (numberOfToppings > 1) {
          var needsOxfordComma = numberOfToppings > 2;
          var lastToppingConjunction = (needsOxfordComma ? ',' : '') + ' and ';
          var lastTopping = lastToppingConjunction +
            this.selectedToppings[this.selectedToppings.length - 1];
          return this.selectedToppings.slice(0, -1).join(', ') + lastTopping;
        }
        return this.selectedToppings.join('');
      };
    })
    .controller('SelectOptGroupController2', function($scope) {
      $scope.sizes = [
        "Preis aufsteigend",
        "Preis absteigend",
        "Nach Hersteller",
        "Alphabetisch A-Z"
      ];
    })
    .controller('AppCtrl', function($scope) {
      $scope.data = {};
      $scope.data.cb1 = true;
      $scope.data.cb2 = false;
      $scope.data.cb3 = false;
      $scope.data.cb4 = false;
      $scope.data.cb5 = false;
    });

</script>
</body>
</html>