{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'app/index-style.css' %}">

  <!-- style sheet -->
  <link rel="stylesheet" href="{% static 'md-steppers/md-stepper-master/md-stepper-master/src/stepper.css' %}">
  <!-- module -->

  <script src="{% static 'md-steppers/md-stepper-master/md-stepper-master/src/stepper.js' %}"></script>

  <script src="{% static 'app/index-app.js' %}"></script>

  <title>DONAALDA - Data Organising Native Ambient Assisted Living Distribution Adviser</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body ng-app="{% block ng_app %}donaaldaApp{% endblock %}"
      ng-controller="{% block ng_controller_theme %}themeController{% endblock %}">

{% include "app/templates/scenarioToolbarTemplate.html" %}
{% include "app/templates/loginTemplate.html" %}
{% include "app/templates/registrationTemplate.html" %}
{% include "app/templates/profileTemplate.html" %}

<div>

</div>

<script style="text/javascript">
  var app = angular.module('app', ['ngMaterial', 'md-steppers']);
</script>

<div ng-app="app">
  <md-card ng-init="step2.disabled = true; selected = 0">
    <md-steppers md-selected="selected" md-stretch-steppers="always">
      <md-step label="Step 1" md-complete="step1.completed" ng-disabled="step1.disabled">
        <md-content>
          <h1>
            Einführung
          </h1>
          <md-button class="md-raised md-primary" ng-click="step2.disabled = false">Enable Step 2</md-button>
          <md-button class="md-raised md-primary" ng-click="selected = 1">NEXT</md-button>
        </md-content>
      </md-step>
      <md-step label="Step 2" md-complete="step2.completed" ng-disabled="step2.disabled">
        <md-content>
          <h1>
            Fakten
          </h1>

          <md-checkbox>Pets</md-checkbox>
          <md-checkbox>Kids</md-checkbox>
          <md-checkbox>Eigentumswohnung</md-checkbox>
          <md-checkbox>Fläche in m²</md-checkbox>
          <md-button class="md-raised md-primary" ng-click="selected = 0">PREV</md-button>
          <md-button class="md-raised md-primary" ng-click="step1.completed = true">Complete Step 1</md-button>
          <md-button class="md-raised md-primary" ng-click="selected = 2">NEXT</md-button>
        </md-content>
      </md-step>
      <md-step label="Step 2" md-complete="step2.completed" ng-disabled="step2.disabled">
        <md-content>
          <h1>
            Präferenzen
          </h1>
          <md-checkbox>Remote Control</md-checkbox>
          <md-button class="md-raised md-primary" ng-click="selected = 0">PREV</md-button>
          <md-button class="md-raised md-primary" ng-click="step1.completed = true">Complete Step 1</md-button>
          <md-button class="md-raised md-primary" ng-click="selected = 2">NEXT</md-button>
        </md-content>
      </md-step>
      <md-step label="Finish" md-complete="step3.completed" ng-disabled="step3.disabled">
        <md-content>
          <h1>
            Finish
          </h1>
        </md-content>
      </md-step>
    </md-steppers>
  </md-card>
</div>


<section layout="column" layout-fill layout-margin layout-padding style="padding-top: 130px">

  <md-content class="md-padding">
    <md-grid-list md-cols-gt-md="2" md-cols-sm="2" md-cols-md="2" md-row-height="2:1" md-gutter="0px">

    {% if scenario_list_from_category %}
    {% for scenario in scenario_list_from_category %}

    <md-grid-tile>
      <md-card layout="column" layout-fill layout-margin layout-padding style="border-bottom:outset; margin:5px" >
        <md-card-header>
          <md-card-avatar>
            <md-icon class="md-avatar-icon"
                     md-svg-icon="../../../static/app/assets/resources/ic_pets_black_24px.svg"></md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Title: {{scenario.name}}</span>
            <span class="md-subhead">Short Description: {{scenario.short_description}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-lg">
                <img src={{scenario.picture}} class="md-card-image" alt="Couldn't find picture">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span style="padding-left: 5px"> Test test test test test test test test test test test test test test test {{scenario.provider}}</span>
          </md-card-title-text>
        </md-card-title>
        <!-- TODO backend: give scenario category flags to show like this -->
        <md-card-actions layout="row" layout-align="start center" style="margin:1px">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="../../../static/app/assets/resources/ic_lock_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon
                md-svg-icon="../../../static/app/assets/resources/ic_perm_scan_wifi_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="../../../static/app/assets/resources/ic_pets_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon
                md-svg-icon="../../../static/app/assets/resources/ic_important_devices_black_24px.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
          <!-- TODO frontend & backend: show popup / new page with the products used in the scenario -->
          <md-button>In Detail</md-button>
          <!-- TODO frontend: show question bar -->
          <!-- TODO backend: offer specific questions -->
          <!--md-button>Show questions</md-button -->
        </md-card-actions>

      </md-card>

    </md-grid-tile>

    {% endfor %}

    {% else %}
    <div>No scenarios are available</div>
    {% endif %}
      </md-grid-list>
  </md-content>
</section>
</body>
</html>