{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <!-- header with all the needed js and css imports -->
  {% include "app/html_templates/header/headerTemplate.html" %}

  <script src="{% static 'app/index-app.js' %}"></script>



  <link rel="stylesheet" href="{% static 'app/index-style.css' %}">
</head>
<body>

<!-- nav bar or tool bar -->
<!-- TODO: rename to navigationBarTemplate ? -->
{% include "app/html_templates/header/navbarHeader.html" with navInfo='category'%}


<section id="fh5co-home-grid" data-stellar-background-ratio="0.5" data-section="home" {% if category.picture %}
         style="background-image:url({{ category.picture.url }}); {% endif %}">
  <div class="gradient">
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-12 text-left">
              {% if category %}
              <h1 class="to-animate">
                {{ category.name }}
              </h1>
              <h2 class="to-animate">
                {{ category.description }}
              </h2>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

{% include "app/html_templates/sections/questionSection.html" %}

<section id="fh5co-work-grid" data-section="information">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">Szenarien</h2>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row row-bottom-padded-sm">
        {% if scenario_list_from_category %}
        {% for scenario in scenario_list_from_category %}

        <div class="col-md-4 col-sm-6 col-xxs-12">
          <a href="{% url 'app:scenario' scenario.url_name %}" class="fh5co-project-item to-animate">
            <div src="{{ scenario.picture.url }}" alt="Image" style="background-image: url('{{ scenario.picture.url }}');
             background-repeat: no-repeat; height: 250px;"></div>
            <div class="fh5co-text">
                <h3 class="text-muted">
                  {{ scenario.provider }}
                </h3>
                <div style="height: 80px;">
                  <h1>
                    {{ scenario.name }}
                  </h1>
                </div>
            </div>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        {% endfor %}
        {% else %}
        <div>
          no scenarios
        </div>
        {% endif %}
      </div>
    </div>
</section>


<!-- Footer -->
{% include "app/html_templates/footer/footerTemplate.html" %}

<!-- Login Modal -->
{% include "app/html_templates/modals/loginModal.html" %}

<!-- Register Modale -->
{% include "app/html_templates/modals/registerModal.html" %}

<!-- Profile Modale -->
{% include "app/html_templates/modals/profileModal.html" %}

<!-- Password Modale -->
{% include "app/html_templates/modals/passwordModal.html" %}

<!-- Delete Account Modale -->
{% include "app/html_templates/modals/deleteAccountModal.html" %}

</body>
</html>

