{% extends "app/base.html" %}

{% block head %}
  {% with navInfo="contact" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navbar %}
  {% with navInfo="contact" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

{% load staticfiles %}

<section id="fh5co-contactBanner" data-section="banner"
         data-stellar-background-ratio="0.5"
         style="background-image: url({% static 'app/assets/resources/contact_smaller.jpg' %});
         height: 900px;">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row col-md-5" style="text-align: left;">
          <div style="margin-top: 150px;">
            <h1>Donaalda ist noch jung.</h1>
          </div>
          <div>
            <h2>Du hast Fragen zu Produkten, dann wende Dich direkt an den Hersteller. Dazu findest Du auf jeder
              Produktseite am Ende die Kontaktmöglichkeiten</h2>
            <br/><br/>
            <h2>Wir arbeiten ständig an Donaalda um sie noch besser zu machen. </h2>
            <h2>Hast Du Fragen dazu oder stimmt etwas mit den Vorschlägen von Donaalda nicht, dann schreib uns.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

{% include "app/html_templates/sections/contactSection.html" %}

{% endblock %}
