{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<html class="no-js lt-ie9 lt-ie8">
<html class="no-js lt-ie9">
<html class="no-js">
<head>

  {% include "app/html_templates/header/headerTemplate.html" with navInfo='filter' %}

</head>
<body>

{% include "app/html_templates/header/navbarHeader.html" with navInfo='filter'%}

<section id="fh5co-page" data-section="home"
         style="background-image: url({% static 'app/assets/images/full_image_1.jpg' %});"
         data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-left">{{ product.name }}</h1>
            <h3 class="text-left"
                style="color: #ddd; margin-top: -20px;">{{ product.product_type.type_name }}</h3>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default pull-right"
                 style="background-color: rgba(245, 245, 245, 0.6); max-width: 200px; max-height: 150px;">
              {% if product.provider.is_visible %}
              <div class="btn">
                {% else %}
                <div class="panel-body">
                  {% endif %}
                  <img style="max-height: 100%; max-width: 100%;"
                       {% if product.provider.is_visible %}
                       onclick="provider()"
                       {% endif %}
                       src="{{ product.provider.providerprofile.logo_image.url }}"
                       alt="providerImg">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slant"></div>
  </div>
</section>

<section id="fh5co-intro" data-section="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Beschreibung</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            {% if product.description %}
            <h3>{{ product.description }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if product.image1 %}
<section id="fh5co-work" data-section="images">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Bilder</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>So sieht's aus:</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ product.image1.url }}" class="fh5co-project-item image-popup to-animate">
          <img src="{{ product.image1.url }}" alt="Image" class="img-responsive">
        </a>
      </div>
      {% if product.image2 %}
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ product.image2.url }}" class="fh5co-project-item image-popup to-animate">
          <img src="{{ product.image2.url }}" alt="Image" class="img-responsive">
        </a>
      </div>
      {% endif %}

      <div class="clearfix visible-sm-block"></div>
      {% if product.image3 %}
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ product.image3.url }}" class="fh5co-project-item image-popup to-animate">
          <img src="{{ product.image3.url }}" alt="Image" class="img-responsive">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}




<section id="fh5co-testimonials" data-section="tecData">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Technische Details</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              Technische Daten des Produkts nach Angaben des Herstellers
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>


{% include "app/html_templates/sections/commentSection.html" %}

{% include "app/html_templates/footer/bodyBackBone.html" %}

{% if all_products %}
{% for product in all_products %}
<div class="col-md-4 col-sm-6 col-xxs-12">
  <a href="{{ product.image1.url }}" class="fh5co-project-item image-popup to-animate">
    <img src="{{ product.image1.url }}" alt="Image" class="img-responsive">
  </a>
</div>
{% endfor %}
{% endif %}
</body>
</html>