{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DONAALDA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!--link rel="stylesheet" href="{% static 'app/index-style.css' %}"-->
    <script src="{% static 'app/index-app.js' %}"></script>


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'app/favicon.ico' %}">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'app/assets/css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'app/assets/css/icomoon.css' %}">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{% static 'app/assets/css/simple-line-icons.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'app/assets/css/magnific-popup.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'app/assets/css/bootstrap.css' %}">

    <!--
      Default Theme Style
      You can change the style.css (default color purple) to one of these styles

      1. pink.css
      2. blue.css
      3. turquoise.css
      4. orange.css
      5. lightblue.css
      6. brown.css
      7. green.css

      -->
    <link rel="stylesheet" href="{% static 'app/assets/css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'app/assets/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
  <script src="{% static 'app/assets/js/respond.min.js' %}"></script>
  <![endif]-->


    <!-- jQuery -->
    <script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'app/assets/js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'app/assets/js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'app/assets/js/jquery.waypoints.min.js' %}"></script>
    <!-- Stellar Parallax -->
    <script src="{% static 'app/assets/js/jquery.stellar.min.js' %}"></script>
    <!-- Counter -->
    <script src="{% static 'app/assets/js/jquery.countTo.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'app/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'app/assets/js/magnific-popup-options.js' %}"></script>
    <!-- Google Map -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="{% static 'app/assets/js/google_map.js' %}"></script>

    <!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->
    <script src="{% static 'app/assets/js/jquery.style.switcher.js' %}"></script>
    <script>
        $(function () {
            $('#colour-variations ul').styleSwitcher({
                defaultThemeId: 'theme-switch',
                hasPreview: false,
                cookie: {
                    expires: 30,
                    isManagingLoad: true
                }
            });
            $('.option-toggle').click(function () {
                $('#colour-variations').toggleClass('sleep');
            });
        });

    </script>
    <!-- End demo purposes only -->
    <script>
        function logOut() {
            location.href = "/logout"
        }

        function admin() {
            window.open("/admin", "_blank")
        }

        $(document).ready(function () {
            $('[data-show="tooltip"]').tooltip();
        });
    </script>
    <!-- Main JS (Do not remove) -->
    <script src="{% static 'app/assets/js/main.js' %}"></script>


</head>
<body>

<header role="banner" id="fh5co-header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse"
                       data-target="#navbar"
                       aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="index.html">
                        <div>
                            <img alt="Brand" src="{% static 'app/assets/images/myAvatar_icon.png' %}"
                                 style="margin-bottom: 5px">
                            <span>Donaalda</span>
                        </div>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#" data-nav-section="home"><span>Start</span></a></li>
                        <li><a href="#" data-nav-section="whatsIsDonaalda"><span>Was macht Donaalda</span></a></li>
                        <li><a href="#" data-nav-section="comments"><span>Bewertungen</span></a></li>
                        <li><a href="#" data-nav-section="scenarios"><span>Szenarien</span></a></li>
                        <li><a href="#" data-nav-section="livingSituation"><span>Wohnsituation</span></a></li>
                        <li><a href="#" data-nav-section="contact"><span>Kontakt</span></a></li>
                        <!--<li>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xs navbar-btn">Apple</button>
                            <button type="button" class="btn btn-primary btn-xs navbar-btn">Samsung</button>
                            <button type="button" class="btn btn-primary btn-xs navbar-btn">Sony</button>
                          </div>
                        </li>-->

                        {% if not request.user.is_authenticated %}
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs navbar-btn"
                                            data-show="tooltip" title="Anmelden" data-placement="bottom"
                                            data-toggle="modal"
                                            data-target="#myModalLogin">
                                        <i class="glyphicon glyphicon-log-in"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs navbar-btn"
                                            data-show="tooltip" title="Registrieren" data-placement="bottom"
                                            data-toggle="modal"
                                            data-target="#myModalRegister">
                                        <i class="glyphicon glyphicon-new-window"></i>
                                    </button>
                                </div>
                            </li>
                        {% else %}
                            <!--TODO: Change these to admin (if allowed), logout and profile-->
                          <li>
                            <div class="btn-group">
                              {% if user.is_staff %}
                                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                                        data-show="tooltip" title="Verwaltung" data-placement="bottom"
                                        onclick="admin()">
                                  <i class="glyphicon glyphicon-cog"></i>
                                </button>
                              {% endif %}
                              <!--TODO: Frontend logout here, acquire csrf token like this https://docs.djangoproject.com/en/1.9/ref/csrf/#ajax-->
                              <button type="button" class="btn btn-primary btn-xs navbar-btn"
                                      data-show="tooltip" title="Abmelden" data-placement="bottom"
                                      onclick="logOut()">
                                <i class="glyphicon glyphicon-log-out"></i>
                              </button>
                              <button type="button" class="btn btn-primary btn-xs navbar-btn"
                                      data-show="tooltip" title="Profil" data-placement="bottom"
                                      data-toggle="modal"
                                      data-target="#myModalProfile">
                                <i class="glyphicon glyphicon-user"></i>
                              </button>
                            </div>
                          </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Top Section -->
<section id="fh5co-home" data-section="home"
         style="background-image: url({% static 'app/assets/images/full_image_2.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-6">
                        <img class="to-animate" src="{% static 'app/assets/images/myAvatar.png' %}">
                    </div>
                    <div class="col-md-6">
                        <h1 class="to-animate">Frag Donaalda</h1>
                        <h2 class="to-animate">Die freundliche Assistentin hilft dir bei deinem <b>Smart Home</b> und
                            gibt dir
                            Tipps.<br><br>Finde <b>Szenarien</b> die zu dir passen. Wähle <b>Produkte</b> von
                            verschiedenen <b>Herstellern</b>
                            und stelle dir dein Smart Home zusammen.</h2>
                        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>

<!-- Intro with categories -->
<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
                {% for category in latest_category_list %}
                    <div class="fh5co-block to-animate"
                         {% if category.backgroundPicture %}style="background-image:url({{ category.backgroundPicture.url }});{% endif %}">
                        <div class="overlay-darker"></div>
                        <div class="overlay"></div>
                        <div class="fh5co-text">
                            <i class="fh5co-intro-icon icon-{{ category.iconString }}"></i>
                            <h2>
                                {{ category.name }}
                            </h2>
                            <div style="height: 170px;">
                                {{ category.description }}
                            </div>
                            <p>
                                <a href="{% url 'app:category' category.name %}" class="btn btn-primary">
                                    Ich will {{ category.name }}
                                </a>
                            </p>
                        </div>
                    </div>
                {% empty %}
                <div>
                    no categories
                </div>
                {% endfor %}
        </div>
    </div>
</section>
<!-- Was macht Donaalda -->
<section id="fh5co-services" data-section="whatsIsDonaalda">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border to-animate">Was macht Donaalda</h2>
                <div class="row">
                    <div class="col-md-8 subtext to-animate">
                        <h3>Unterschiedliche Hersteller, tausende Produkte für jeden Anwendungszweck. Aber wie soll mein
                            <b>Smart
                                Home</b> aussehen?<br>
                            Dabei hilft dir Donaalda, denn sie berät dich mit fertigen Szenarien und fragt dich
                            nach deiner Wohnsituation.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-search"></i>
                <h3>Rat &amp; Tat</h3>
                <p>
                    Donaalda ist Deine Ratgeberin für das <b>Smart Home</b>. Immer mehr Hersteller drängen mit
                    unterschiedlichen Produkten und Technologien auf den Markt.
                    Da verliert man schnell den Überblick. <b>Donaalda findet die Produkte, die zu Deinem Projekt
                    passen.</b>
                    Smart Home war noch nie so einfach.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-book"></i>
                <h3>Szenarien</h3>
                <p>Die Szenarien geben Dir einen Eindruck, was im Smart Home alles möglich ist. Wusstest Du, dass die
                    CO2-Messung im Schlafzimmer
                    und die Steuerung der Raumluft maßgeblich für einen gesünderen Schlaf sorgen? Das und vieles mehr
                    findest Du in den Szenarien.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-gift"></i>
                <h3>Produkte</h3>
                <p>
                    Produkte findest Du in jedem Szenario. Und zwar genau die Produkte, die perfekt zum Szenario passen.
                    Hierbei ist es egal von welchem Hersteller die Produkte sind. Donaalda weiß, welche Produkte von
                    welchen Herstellern zusammenpassen, zeigt sie dir und deren Vorteile.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-briefcase"></i>
                <h3>Hersteller</h3>
                <p>
                    Donaalda ist unabhängig von bestimmten Herstellern, denn als Smart Home Besitzer sollen alle
                    Vorteile
                    von bestimmten Produkten optimal genutzt werden.
                    Deswegen garantiert Dir Donaalda, das Deine herstellerübergreifenden Produkte passen.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- Bewertungen -->
<section id="fh5co-testimonials" data-section="comments">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Bewertungen</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>
                            Du bist nicht der Einzige. Donaalda hat schon Vielen bei der Auswahl des perfekten Smart
                            Home geholfen.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for com in comment %}
                <div class="col-md-4">
                    <div class="box-testimony">
                        <blockquote class="to-animate-2">
                            <p>&ldquo;{{ com.comment_content }}&rdquo;</p>
                        </blockquote>
                        <div class="author to-animate">
                            <figure><img src="{% static 'app/assets/images/person2.jpg' %}" alt="Person"></figure>
                            <p>
                                {{ com.comment_from }} <span class="subtext">{{ com.comment_title }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="center-block">
                <i class="icon icon-thumbs-down"></i> Schade. Es wurden noch keine Kommentare geschrieben.
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Szenarien -->
<section id="fh5co-work" data-section="scenarios">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Szenarien</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>
                            Sie helfen Dir für einen bestimmten Anwendungszweck die richtige Lösung zu finden. Dabei
                            gehen
                            die Szenarien auf unterschiedliche Möglichkeiten ein, um Dein <b>Smart Home</b>
                            auf Deine Bedürfnisse anzupassen.
                            Hier siehst Du die neusten Szenarien in Donaalda. Für weitere, wähle <a href="#fh5co-home">oben</a>
                            eine Kategorie.
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-bottom-padded-sm">
                {% for scenario in scenarios %}
                    <div class="col-md-4 col-sm-6 col-xxs-12">
                        <a href="{{ scenario.picture.url }}" class="fh5co-project-item image-popup to-animate">
                            <img src="{{ scenario.picture.url }}" alt="Image" class="img-responsive">
                            <div class="fh5co-text">
                                <h1>
                                    {{ scenario.name }}
                                </h1>
                                <h2>
                                    {{ scenario.provider }}
                                </h2>
                                <h3>{{ scenario.scenario_product_set }}</h3>
                                <h3>
                                    {% for category in scenario.category_set.all %}
                                        <p>
                                            {{ category.name }}
                                        </p>
                                    {% endfor %}
                                </h3>
                                <h4> {{ scenario.description }}</h4>
                            </div>
                        </a>
                    </div>
                    <!--<div class="clearfix visible-sm-block"></div>-->
                {% empty %}
                <div>
                    Es wurden noch keine Szenarien hinzugefügt.
                </div>
                {% endfor %}
        </div>
    </div>
</section>

<!-- not used products list -->
<!--<section id="fh5co-work" data-section="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Produkte</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Unterschiedliche Hersteller, tausende Produkte für jeden Anwendungszweck.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            {% if products %}
                {% for product in products %}

                    <div class="col-md-4 col-sm-6 col-xxs-12">
                        <a href="{{ product.image1.url }}" class="fh5co-project-item image-popup to-animate">
                            <img src="{{ product.image1.url }}" alt="Image" class="img-responsive">
                            <div class="fh5co-text">
                                <h1>
                                    <div>
                                        {{ product.name }}
                                    </div>
                                </h1>
                                <h2>
                                    <div>
                                        {{ product.provider }}
                                        <br>{{ product.product_type }}
                                        <h4>S/N: {{ product.serial_number }}</h4>
                                    </div>
                                </h2>
                                <h4>
                                    <div>
                                        {{ product.description }}
                                    </div>
                                </h4>
                                <span>
                                    EOL: {{ product.end_of_life }}
                                </span>
                                &lt;!&ndash;h6>
                <div>
                    #{% if product.image2 %}
                        <img src="#{{ product.image2.url }}"/>
                    #{% endif %}
                    #{% if product.image3 %}
                        <img src="#{{ product.image3.url }}"/>
                    #{% endif %}
                </div>
            </h6&ndash;&gt;
                            </div>
                        </a>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                {% endfor %}
            {% else %}
                <div>
                    no products
                </div>
            {% endif %}
        </div>
    </div>
</section>-->

<!-- Wohnsituation -->
<section id="fh5co-about" data-section="livingSituation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Wohnsituation</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>
                            Villa oder Besenkammer?! Das ist Donaalda egal. Egal in welcher Wohnsituation Du lebst, sie
                            hat immer die richtige Lösung für Dich.
                            <br/><br/>
                            Trotzdem kann sie etwas Hilfe gebrauchen. Dazu stellt sie an manchen Stellen Fragen, damit
                            Du immer genau das Szenario findest,
                            was Du schon immer gesucht hast.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate" style="min-height: 400px;">
                    <figure><img src="{% static 'app/assets/images/haus1.jpg' %}" alt="Image"></figure>
                    <h3>Miete oder Besitz</h3>
                    <span class="fh5co-position">Allgemeine Wohnsituation</span>
                    <p style="min-height: 150px;">
                        Damit weiß Donaalda welche Produkte besser geeignet sind. Manche erfordern Umbaumaßnahmen, die
                        ungern in Mietwohungen gemacht werden.
                    </p>
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate" style="min-height: 400px;">
                    <figure><img src="{% static 'app/assets/images/familie1.jpg' %}" alt="Image"></figure>
                    <h3>Personen</h3>
                    <span class="fh5co-position">im Haushalt</span>
                    <p style="min-height: 150px;">
                        Sind Kinder im Haushalt, können spezielle Szenarien gezeigt werden, die z.B. die Sicherheit der
                        Kleinen im Haushalt erhöhen.
                    </p>

                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate" style="min-height: 400px;">
                    <figure><img src="{% static 'app/assets/images/bauen1.jpg' %}" alt="Image"></figure>
                    <h3>Ein-/Umbau</h3>
                    <span class="fh5co-position">Instandsetzung / Renovierung</span>
                    <p style="min-height: 150px;">
                        Stehen Instandsetzungs- oder Renovierungsarbeiten an, können entsprechende Lösungen
                        berücksichtig werden.
                    </p>
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Key Facts -->
<section id="fh5co-counters" style="background-image: url({% static 'app/assets/images/full_image_1.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center to-animate">
                <h2>Key Facts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-search to-animate-2"></i>
          <span class="fh5co-counter-number js-counter" data-from="0" data-to="13824" data-speed="2000"
                data-refresh-interval="50">13824</span>
                    <span class="fh5co-counter-label">Individuelle Konfigurationen</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-book to-animate-2"></i>
          <span class="fh5co-counter-number js-counter" data-from="0" data-to="127" data-speed="1000"
                data-refresh-interval="3">127</span>
                    <span class="fh5co-counter-label">Szenarien</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-gift to-animate-2"></i>
          <span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="2000"
                data-refresh-interval="20">1302</span>
                    <span class="fh5co-counter-label">Produkte</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
          <span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="1000"
                data-refresh-interval="5">52</span>
                    <span class="fh5co-counter-label">Hersteller</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Kontakt -->
<section id="fh5co-contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Frag Donaalda</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>oder ihre Erfinder</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 to-animate">
                <h3>Kontakt Info</h3>
                <ul class="fh5co-contact-info">
                    <li class="fh5co-contact-address ">
                        <i class="icon-home"></i>
                        13045 Berlin <br>
                        Telekom Tower <br>
                        Berlin, Deutschland
                    </li>
                    <li><i class="icon-phone"></i>+49 (0) 30 314-666</li>
                    <li><i class="icon-envelope"></i>info@donaalda.com</li>
                    <li><i class="icon-globe"></i> <a href="https://www.donaalda.com/" target="_blank">donaalda.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 to-animate">
                <h3>Kontaktformular</h3>
                <div class="form-group ">
                    <label for="name" class="sr-only">Name</label>
                    <input id="name" class="form-control" placeholder="Name" type="text">
                </div>
                <div class="form-group ">
                    <label for="email" class="sr-only">E-Mail</label>
                    <input id="email" class="form-control" placeholder="E-Mail" type="email">
                </div>
                <div class="form-group ">
                    <label for="phone" class="sr-only">Telefon</label>
                    <input id="phone" class="form-control" placeholder="Telefon" type="text">
                </div>
                <div class="form-group ">
                    <label for="message" class="sr-only">Nachricht</label>
                            <textarea name="" id="message" cols="30" rows="5" class="form-control"
                                      placeholder="Nachricht"></textarea>
                </div>
                <div class="form-group ">
                    <input class="btn btn-primary btn-lg" value="Und los!" type="submit">
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="to-animate"></div>
</section>

<footer id="footer" role="contentinfo">
    <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
    <div class="container">
        <br/>
        <div>
            <div class="col-md-12 text-center">
                <p>&copy; DONAALDA. All Rights Reserved. <br>
                    <a href="https://www.donaalda.com" target="_blank">donaalda.com</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social social-circle">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'app:login' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Anmelden</h3>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon1"><i class="icon-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Benutzername"
                               aria-describedby="basic-addon1" value="{{ name }}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="icon-key"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Passwort"
                               aria-describedby="basic-addon2" value="{{ password }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Doch nicht</button>
                    <button type="submit" class="btn btn-primary">Los gehts</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action={% url 'app:register_user' %} method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel1">Registrieren</h3>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon3"><i class="icon-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Benutzername"
                               aria-describedby="basic-addon1" value="{{ name }}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4"><i class="icon-key"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Passwort"
                               aria-describedby="basic-addon2" value="{{ password }}">
                    </div>
                    <br/>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon5"><i class="icon-user"></i></span>
                        <input type="text" class="form-control" name="firstname" placeholder="Vorname"
                               aria-describedby="basic-addon3" value="{{ firstname }}">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon6"><i class="icon-user"></i></span>
                        <input type="text" class="form-control" name="lastname" placeholder="Nachname"
                               aria-describedby="basic-addon4" value="{{ lastname }}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon7"><i class="icon-envelope"></i></span>
                        <input type="text" class="form-control" name="email" placeholder="Email-Adresse"
                               aria-describedby="basic-addon5" value="{{ email }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Doch nicht</button>
                    <button type="submit" class="btn btn-primary">Los gehts</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--TODO: Frontend add profile to this // Noch aktuell??? Tim:14.06.16-->
<div class="modal fade" id="myModalProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action={% url 'app:profile' %} method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel2">Profil
                        von {{ user.first_name }} {{ user.last_name }}</h3>
                </div>
                <div class="modal-body">
                    <h4>Profildaten</h4>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon8"><i class="icon-user"></i></span>
                        <input disabled type="text" class="form-control" name="username" placeholder="Benutzername"
                               aria-describedby="basic-addon8" value="{{ user.username }}">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon9"><i class="icon-user"></i></span>
                        <input disabled type="text" class="form-control" name="firstname" placeholder="Vorname"
                               aria-describedby="basic-addon9" value="{{ user.first_name }}">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon10"><i class="icon-user"></i></span>
                        <input disabled type="text" class="form-control" name="lastname" placeholder="Nachname"
                               aria-describedby="basic-addon10" value="{{ user.last_name }}">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon11"><i class="icon-user"></i></span>
                        <input disabled type="text" class="form-control" name="email" placeholder="Email-Adresse"
                               aria-describedby="basic-addon11" value="{{ user.email }}">
                    </div>
                    <br>
                    <h4>Passwort (ändern)</h4>
                    <div class="input-group" style="margin-bottom: 10px;">
                        <span class="input-group-addon" id="basic-addon12"><i class="icon-key"></i></span>
                        <input type="password" class="form-control" name="password_old" placeholder="Altes Passwort"
                               aria-describedby="basic-addon12" value="{{ password }}">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <span class="input-group-addon" id="basic-addon13"><i class="icon-key"></i></span>
                        <input type="password" class="form-control" name="password_new" placeholder="Neues Passwort"
                               aria-describedby="basic-addon13" value="{{ password }}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon14"><i class="icon-key"></i></span>
                        <input type="password" class="form-control" name="password_new_repeat"
                               placeholder="Neues Passwort wiederholen"
                               aria-describedby="basic-addon14" value="{{ password }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Doch nicht</button>
                    <button type="submit" class="btn btn-primary">Passwort ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

