{% load staticfiles %}

{% include "app/html_templates/header/headerTemplate.html" with navInfo='index' %}
<body>

<!-- nav bar or tool bar -->
<!-- TODO: rename to navigationBarTemplate ? -->
{% include "app/html_templates/header/navbarHeader.html" with navInfo='index'%}

<!-- Top Section: "Ask Donaalda" -->
{% include "app/html_templates/sections/welcomeSection.html" %}


<!-- Intro with categories -->
<!-- TODO: proposal: rename categoryGridTemplate to categorySectionTemplate? -->
{% include "app/html_templates/sections/categorySection.html" %}


<!-- Was macht Donaalda -->
<!-- TODO: contemplate renaming this file -->
{% include "app/html_templates/sections/generalInformationSection.html" %}

{% include "app/html_templates/sections/livingSituationSection.html" %}
{% include "app/html_templates/sections/indexScenarioSection.html" %}

{% include "app/html_templates/sections/commentSection.html" %}
{% include "app/html_templates/sections/keyFactsSection.html" %}
{% include "app/html_templates/sections/contactSection.html" %}

{% include "app/html_templates/footer/bodyBackBone.html" %}
</body>
</html>

