{% extends "app/base.html" %}

{% block head %}
  {% with navInfo="product" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navbar %}
  {% with navInfo="product" productName=product.name %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

{% load staticfiles %}

<script>
  {% if product.provider.is_visible %}
  function provider() {
    location.href = "{%  url 'app:provider_profile' product.provider.providerprofile.url_name %}"
  }
  {% endif %}
</script>

<section id="fh5co-page" data-section="home"
         data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-left">{{ product.name }}</h1>
            <h3 class="text-left"
                style="color: #ddd; margin-top: -20px;">{{ product.product_type.type_name }}</h3>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default pull-right"
                 style="background-color: rgba(245, 245, 245, 0.6); max-width: 200px; max-height: 150px;">
              {% if product.provider.is_visible %}
              <div class="btn">
                {% else %}
                <div class="panel-body">
                  {% endif %}
                  {% if product.provider_profile %}
                  <a href="{%  url 'app:provider_profile' product.provider.providerprofile.url_name %}">
                    {% endif %}
                    <img style="max-height: 13em; max-width: 8em;"
                         {% if product.provider.is_visible %}
                         onclick="provider()"
                         {% endif %}
                         src="{{ product.provider.providerprofile.logo_image.url }}"
                         alt="providerImg">
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slant"></div>
  </div>
</section>

<section id="fh5co-questions" data-section="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Beschreibung</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>{{ product.description }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if product.image1 %}
<section id="fh5co-work" data-section="images">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Technische Details und Bilder</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              Technische Daten des Produkts nach Angaben des Herstellers
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>So sieht's aus:</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ product.image1.url }}" class="fh5co-project-item image-popup to-animate">
          <img src="{{ product.image1.url }}" alt="Image" class="img-responsive">
        </a>
      </div>
      {% if product.image2 %}
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ product.image2.url }}" class="fh5co-project-item image-popup to-animate">
          <img src="{{ product.image2.url }}" alt="Image" class="img-responsive">
        </a>
      </div>
      {% endif %}

      <div class="clearfix visible-sm-block"></div>
      {% if product.image3 %}
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ product.image3.url }}" class="fh5co-project-item image-popup to-animate">
          <img src="{{ product.image3.url }}" alt="Image" class="img-responsive">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{% include "app/html_templates/sections/commentSection.html" %}

{% endblock %}
