<div>
    PRODUCT SEARCH: WHOLE PAKET
</div>

<div ng-cloak="" class="scenarioCards">
    <md-content class="md-padding" layout-xs="column" layout="row">

        <div layout="row">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="md-avatar-icon" md-svg-icon="assets/resources/ic_pets_black_24px.svg"></md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Smart Home Environment Paket</span>
                        <span class="md-subhead">IOLITE</span>
                    </md-card-header-text>
                </md-card-header>
                <img src="assets/resources/iolite.JPG" height="384" width="512" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Feel the TU BERLIN</span>
                        <span class="md-subhead">Great stuff from the TU Berlin, DAI-Labor/AOT Lehrstuhl!</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon md-svg-icon="assets/resources/ic_lock_black_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon md-svg-icon="assets/resources/ic_perm_scan_wifi_black_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon md-svg-icon="assets/resources/ic_pets_black_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon md-svg-icon="assets/resources/ic_important_devices_black_24px.svg"></md-icon>
                        </md-button>
                    </md-card-icon-actions>
                    <md-button>Combine with</md-button>
                    <md-button>More information</md-button>
                </md-card-actions>

                <md-card-content>
                    <p>
                        Bla bla bla bla bla balb albal balb albal bab albalbalbalb a....
                    </p>
                </md-card-content>
            </md-card>

            <div flex-xs="" flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class="md-avatar-icon"
                                     md-svg-icon="assets/resources/ic_pets_black_24px.svg"></md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Not so Smart Paket</span>
                            <span class="md-subhead">Random Org</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img src="assets/resources/not_so_smart.JPG" height="192" width="256" class="md-card-image"
                         alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Buy!</span>
                            <span class="md-subhead">Buy, price, smart!</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="Favorite">
                                <md-icon md-svg-icon="assets/resources/ic_lock_black_24px.svg"></md-icon>
                            </md-button>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share">
                                <md-icon md-svg-icon="assets/resources/ic_important_devices_black_24px.svg"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button>Combine with</md-button>
                        <md-button>More information</md-button>
                    </md-card-actions>

                    <md-card-content>
                        <p>
                            Bla bla bla bla bla balb albal balb albal bab albalbalbalb a....
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
</div>