{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/index-style.css' %}">
    <script src="{% static 'app/index-app.js' %}"></script>
    <title>DONAALDA - Data Organising Native Ambient Assisted Living Distribution Adviser</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body ng-app="{% block ng_app %}donaaldaApp{% endblock %}"
      ng-controller="{% block ng_controller_theme %}themeController{% endblock %}" layout="column" ng-cloak>
<!-- TODO FRONTEND: -->

{% include "app/html_templates/indexToolbarTemplate.html" %}
{% include "app/html_templates/loginTemplate.html" %}
{% include "app/html_templates/registrationTemplate.html" %}
{% include "app/html_templates/profileTemplate.html" %}

<div layout="row" layout-padding layout-margin style="margin-top:80px">
    <h2 flex="35">Produktname: {{ product.name }}</h2>
    <h2 flex="30">Produkttyp: {{ product.product_type }}</h2>
    <div flex-xs flex-gt-xs="20" layout="column" layout-align="end start">
        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg">
                        <img src="{{ product.provider.providerprofile.logo_image.url }}"
                             alt="Insert an Image File here">
                    </div>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </div>
</div>

<div layout layout-padding layout-margin style="margin-bottom:150px;">
    <h3>Artikelnummer: {{ product.serial_number }}</h3>
</div>

<div style="margin-bottom:200px;" layout="row" layout-margin layout-wrap>
    {% if product.image1 %}
        <img src="{{ product.image1.url }}" alt="Insert an Image File here" width="30%" height="50%">
    {% endif %}
    {% if product.image2 %}
        <img src="{{ product.image2.url }}" alt="Insert an Image File here" width="30%" height="50%">
    {% endif %}
    {% if product.image3 %}
        <img src="{{ product.image3.url }}" alt="Insert an Image File here" width="30%" height="50%">
    {% endif %}
</div>

<div layout layout-padding layout-fill layout-margin>
    <p> {{ product.description }} </p>
</div>

</body>
</html>
