{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>


  <script>
    function provider() {
      location.href = "{%  url 'app:provider_profile' product.provider.providerprofile.url_name %}"
    }
    function logOut() {
      location.href = "/logout"
    }
    function start() {
      location.href = "/"
    }
    function admin() {
      window.open("/admin", "_blank")
    }
    function back() {
      location.href = "/back";
    }
  </script>
  <script>
    $.post( "/updatepagehistory", { lastpage: "{{request.META.HTTP_REFERER}}", csrfmiddlewaretoken: "{{ csrf_token }}"} );
  </script>
</head>
<body>

<header role="banner" id="fh5co-header">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <!-- Mobile Toggle Menu Button -->
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse"
             data-target="#navbar"
             aria-expanded="false" aria-controls="navbar"><i></i></a>
          <a class="navbar-brand" href="{% url 'app:indexnew' %}">
            <div>
              <img alt="Brand" src="{% static 'app/assets/images/myAvatar_icon.png' %}"
                   style="margin-bottom: 5px">
              <span>Donaalda - Produktdetails</span>
            </div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" onclick="back()" data-nav-section="home"><span>Zurück</span></a></li>
            <li class="active"><a href="#" data-nav-section="home"><span>Produkt</span></a></li>
            <li><a href="#" data-nav-section="intro"><span>Beschreibung</span></a></li>
            <li><a href="#" data-nav-section="images"><span>Bilder</span></a></li>
            <li><a href="#" data-nav-section="tecData"><span>Technische Daten</span></a></li>
            <li><a href="#" data-nav-section="contact"><span>Kontakt</span></a></li>
            {% if not request.user.is_authenticated %}
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Anmelden" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalLogin">
                  <i class="glyphicon glyphicon-log-in"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Registrieren" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalRegister">
                  <i class="glyphicon glyphicon-new-window"></i>
                </button>
              </div>
            </li>
            {% else %}
            <!--TODO: Change these to admin (if allowed), logout and profile-->
            <li>
              <div class="btn-group">
                {% if 1 == 1 %}
                {% if user.is_staff %}
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Verwaltung" data-placement="bottom"
                        onclick="admin()">
                  <i class="glyphicon glyphicon-cog"></i>
                </button>
                {% endif %}
                {% endif %}
                <!--TODO: Frontend logout here, acquire csrf token like this https://docs.djangoproject.com/en/1.9/ref/csrf/#ajax-->
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Abmelden" data-placement="bottom"
                        onclick="logOut()">
                  <i class="glyphicon glyphicon-log-out"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Profil" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalProfile">
                  <i class="glyphicon glyphicon-user"></i>

                </button>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<section id="fh5co-page" data-section="home"
         style="background-image: url({% static 'app/assets/images/full_image_1.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-left">{{ product.name }}</h1>
                        <h3 class="text-left"
                            style="color: #ddd; margin-top: -20px;">{{ product.product_type.type_name }}</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default pull-right"
                             style="background-color: rgba(245, 245, 245, 0.6); max-width: 200px; max-height: 150px;">
                            <div class="btn">
                                <img style="max-height: 100%; max-width: 100%;"
                                     onclick="provider()"
                                     src="{{ product.provider.providerprofile.logo_image.url }}"
                                     alt="providerImg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>

<section id="fh5co-intro" data-section="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Beschreibung</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{{ product.description }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if product.image1 %}
    <section id="fh5co-work" data-section="images">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Produktabbildungen</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Aktuelle Produktbilder</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-bottom-padded-sm">
                <div class="col-md-4 col-sm-6 col-xxs-12">
                    <a href="{{ product.image1.url }}" class="fh5co-project-item image-popup to-animate">
                        <img src="{{ product.image1.url }}" alt="Image" class="img-responsive">
                    </a>
                </div>
                {% if product.image2 %}
                    <div class="col-md-4 col-sm-6 col-xxs-12">
                        <a href="{{ product.image2.url }}" class="fh5co-project-item image-popup to-animate">
                            <img src="{{ product.image2.url }}" alt="Image" class="img-responsive">
                        </a>
                    </div>
                {% endif %}

                <div class="clearfix visible-sm-block"></div>
                {% if product.image3 %}
                    <div class="col-md-4 col-sm-6 col-xxs-12">
                        <a href="{{ product.image3.url }}" class="fh5co-project-item image-popup to-animate">
                            <img src="{{ product.image3.url }}" alt="Image" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}

<section id="fh5co-testimonials" data-section="tecData">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Technische Details</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>
                            Technische Daten des Produkts nach Angaben des Herstellers
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>

<!-- Footer -->
{% include "app/html_templates/footer/footerTemplate.html" %}

<!-- Login Modal -->
{% include "app/html_templates/modals/loginModal.html" %}

<!-- Register modale -->
{% include "app/html_templates/modals/registerModal.html" %}

<!-- Profile modale -->
{% include "app/html_templates/modals/profileModal.html" %}

</body>
</html>

