<md-sidenav style="background:green;position:fixed;" style="color:seashell;" md-component-id="profile" class="md-sidenav-left">
    <div><h1 style="color:seashell">Profile </h1></div>

    <div>
        <md-list>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Sicherheit</h3>
                    <p>Great Description</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Komfort</h3>
                    <p>Great Description</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Gesundheit</h3>
                    <p>Great Health</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Remote Control</h3>
                    <p>Great Description</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Energie</h3>
                    <p>Smart Security</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Trump</h3>
                    <p>Great Description</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-checkbox ></md-checkbox>
                <div class="md-list-item-text">
                    <h3>Title</h3>
                    <p>Great Description</p>
                </div>
        </md-list>
    </div>
</md-sidenav>