{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DONAALDA - Produktübersicht - {{ product.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>


  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content=""/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:url" content=""/>
  <meta name="twitter:card" content=""/>

  <!--link rel="stylesheet" href="{% static 'app/index-style.css' %}"-->
  <script src="{% static 'app/index-app.js' %}"></script>


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="{% static 'app/favicon.ico' %}">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
        type='text/css'>

  <!-- Animate.css -->
  <link rel="stylesheet" href="{% static 'app/assets/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'app/assets/css/icomoon.css' %}">
  <!-- Simple Line Icons -->
  <link rel="stylesheet" href="{% static 'app/assets/css/simple-line-icons.css' %}">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'app/assets/css/magnific-popup.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="{% static 'app/assets/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'app/assets/css/styleProvider.css' %}">

  <!-- Modernizr JS -->
  <script src="{% static 'app/assets/js/modernizr-2.6.2.min.js' %}"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="{% static 'app/assets/js/respond.min.js' %}"></script>
  <![endif]-->


  <!-- jQuery -->
  <script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
  <!-- jQuery Easing -->
  <script src="{% static 'app/assets/js/jquery.easing.1.3.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'app/assets/js/bootstrap.min.js' %}"></script>
  <!-- Waypoints -->
  <script src="{% static 'app/assets/js/jquery.waypoints.min.js' %}"></script>
  <!-- Stellar Parallax -->
  <script src="{% static 'app/assets/js/jquery.stellar.min.js' %}"></script>
  <!-- Counter -->
  <script src="{% static 'app/assets/js/jquery.countTo.js' %}"></script>
  <!-- Magnific Popup -->
  <script src="{% static 'app/assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'app/assets/js/magnific-popup-options.js' %}"></script>
  <!-- Google Map -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
  <script src="{% static 'app/assets/js/google_map.js' %}"></script>

  <!-- Main JS (Do not remove) -->
  <script src="{% static 'app/assets/js/main.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('[data-show="tooltip"]').tooltip();
    });
  </script>

  <script>
    function start() {
      location.href = "/"
    }
    function logOut() {
      location.href = "/logout"
    }
    function admin() {
      window.open("/admin", "_blank")
    }
    function back() {
      location.href = "/back";
    }
  </script>
  <script>
    $.post("/updatepagehistory", {
      lastpage: "{{request.META.HTTP_REFERER}}",
      csrfmiddlewaretoken: "{{ csrf_token }}"
    });
  </script>
</head>
<body>

{% include "app/html_templates/header/navbarHeader.html" with navInfo='provider'%}

<section id="fh5co-page" data-section="home"
         data-stellar-background-ratio="0.5"
         {% if provider.banner_image %}
         style="background-image:url({{ provider.banner_image.url }}); {% endif %}">
  <div class="gradient">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-left">{{ provider.public_name }}</h1>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default pull-right"
                 style="background-color: rgba(245, 245, 245, 0.6); max-width: 200px; max-height: 150px;">
              <div>
                <img style="max-height: 100%; max-width: 100%;"
                     src="{{ provider.logo_image.url }}"
                     alt="providerImg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  <div class="slant">
  </div>
</section>

<section id="fh5co-intro" data-section="description">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Beschreibung</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>{{ provider.introduction }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fh5co-work" data-section="scenarios">
  <div class="container">
    <div class="row">
      <div class="row row-bottom-padded-sm">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Szenarien</h2>
        </div>
      </div>
    </div>
      {% for scenario in scenario_list_from_provider %}
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{% url 'app:scenario' scenario.url_name %}" class="fh5co-project-item">
          <div class="img-responsive" style="background-image: url('{{ scenario.picture.url }}'); background-repeat: no-repeat; height: 250px;"></div>
          <div class="fh5co-text">
            <h3 class="text-muted">
              {{ scenario.provider }}
            </h3>
            <div style="height: 80px;">
              <h1>
                {{ scenario.name }}
              </h1>
            </div>
            <!-- too much content for cards -->
            <!--<h3>{{ scenario.scenario_product_set }}</h3>
            <h3>
              {% for category in scenario.category_set.all %}
              <p>
                {{ category.name }}
              </p>
              {% endfor %}
            </h3>
            <h4> {{ scenario.description }}</h4>-->
          </div>
        </a>
      </div>
      {% empty %}
      <div>
        Es wurden noch keine Szenarien hinzugefügt.
      </div>
      {% endfor %}
      </div>
    </div>
</section>

<section id="fh5co-work-grid" data-section="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Produkte</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Aktuelle Produkte</h3>
          </div>
        </div>
      </div>
    </div>
    {% for product in provider_products %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
      <a href="{% url 'app:product' product.pk %}" class="fh5co-project-item to-animate">
        <img src="{{ product.image1.url }}" alt="Image" class="img-responsive" style="background-repeat: no-repeat;
         height: 250px;">
        <div class="fh5co-text">
          <h3 class="text-muted">
            {{ product.product_type }}
          </h3>
          <div style="height: 80px;">
            <h1>
              {{ product.name }}
            </h1>
          </div>
          <!-- too much content for cards -->
            {% comment %}
          <!--<h3>{{ scenario.scenario_product_set }}</h3>
          <h3>
            {% for category in scenario.category_set.all %}
            <p>
              {{ category.name }}
            </p>
            {% endfor %}
          </h3>
          <h4> {{ scenario.description }}</h4>-->
          {% endcomment%}
        </div>
      </a>
    </div>
    {% empty %}
    <div>
      Es wurden noch keine Produkte hinzugefügt.
    </div>
    {% endfor %}
    </div>
  </div>
</section>


<section id="fh5co-about" data-section="tecData">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Kontaktdaten zum Hersteller</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              Bei Problemen melden Sie sich bei uns unter
              <a href="mailto:{{ provider.contact_email }}">{{ provider.contact_email }}</a> <br>
              Webseite: <a href="{{ provider.website }}"> {{ provider.website }} <a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>
</section>

{% include "app/html_templates/sections/commentSection.html" %}

<!-- Footer -->
{% include "app/html_templates/footer/footerTemplate.html" %}


{% include "app/html_templates/modals/modals.html" %}


</body>
</html>

