{% extends "app/base.html" %}

{% block head %}
  {% with navInfo="provider" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block navbar %}
  {% with navInfo="provider" providerName=provider.public_name %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}

{% load staticfiles %}


{% if product.provider.is_visible %}
<script>
  function provider() {
    location.href = "{%  url 'app:provider_profile' product.provider.providerprofile.url_name %}"
  }
</script>
{% endif %}

<section id="fh5co-page" data-section="home"
         data-stellar-background-ratio="0.5"
         {% if provider.banner_image %}
         style="background-image:url({{ provider.banner_image.url }});
         {% endif %} height:18em">
  <div class="gradient">
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-left">{{ provider.public_name }}</h1>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default pull-right"
                   style="background-color: rgba(245, 245, 245, 0.6); max-width: 13em; max-height: 10em;">
                <div>
                  <img style="max-height: 8em; max-width: 8em;"
                       src="{{ provider.logo_image.url }}"
                       alt="providerImg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant">
  </div>
</section>

<section id="fh5co-intro" data-section="description">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Beschreibung</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>{{ provider.introduction|safe|linebreaksbr }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fh5co-work" data-section="scenarios">
  <div class="container">
    <div class="row">
      <div class="row row-bottom-padded-sm">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Szenarien</h2>
        </div>
      </div>
    </div>
    {% for scenario in scenario_list_from_provider %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
      <a href="{% url 'app:scenario' scenario.url_name %}" class="fh5co-project-item">
        <img src="{{ scenario.picture.url }}" style="height:13em; width:17.5em">
        <div class="fh5co-text">
          <h3 class="text-muted">
            {{ scenario.provider }}
          </h3>
          <div style="height: 80px;">
            <h1>
              {{ scenario.name }}
            </h1>
          </div>
          <!-- too much content for cards -->
          <!--<h3>{{ scenario.scenario_product_set }}</h3>
          <h3>
            {% for category in scenario.category_set.all %}
            <p>
              {{ category.name }}
            </p>
            {% endfor %}
          </h3>
          <h4> {{ scenario.description|safe|linebreaksbr }}</h4>-->
        </div>
      </a>
    </div>
    {% empty %}
    <div>
      Es wurden noch keine Szenarien hinzugefügt.
    </div>
    {% endfor %}
  </div>
</section>

<section id="fh5co-about" data-section="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Produkte</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Aktuelle Produkte</h3>
          </div>
        </div>
      </div>
    </div>
    {% for product in provider_products %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
      <a href="{% url 'app:product' product.pk %}" class="fh5co-project-item">
        <img src="{{ product.image1.url }}" style="height: 13em; width:17.5em">
        <div class="fh5co-text">
          <h3 class="text-muted">
            {{ product.product_type }}
          </h3>
          <div style="height: 80px;">
            <h1>
              {{ product.name }}
            </h1>
          </div>
          <!-- too much content for cards -->
          {% comment %}
          <!--<h3>{{ scenario.scenario_product_set }}</h3>
          <h3>
            {% for category in scenario.category_set.all %}
            <p>
              {{ category.name }}
            </p>
            {% endfor %}
          </h3>
          <h4> {{ scenario.description }}</h4>-->
          {% endcomment%}
        </div>
      </a>
    </div>
    {% empty %}
    <div>
      Es wurden noch keine Produkte hinzugefügt.
    </div>
    {% endfor %}
  </div>
  </div>
</section>


<section id="fh5co-work-grid" data-section="tecData">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Kontaktdaten zum Hersteller</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              Bei Problemen melden Sie sich bei uns unter
              <a href="mailto:{{ provider.contact_email }}">{{ provider.contact_email }}</a> <br>
              Webseite: <a href="{{ provider.website }}"> {{ provider.website }} <a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>
</section>

{% endblock %}

