{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if current_scenario %}
  <title>DONAALDA - Szenario - {{ current_scenario.name }}</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>


  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content=""/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:url" content=""/>
  <meta name="twitter:card" content=""/>

  <!--link rel="stylesheet" href="{% static 'app/index-style.css' %}"-->
  <script src="{% static 'app/index-app.js' %}"></script>


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="{% static 'app/favicon.ico' %}">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
        type='text/css'>

  <!-- Animate.css -->
  <link rel="stylesheet" href="{% static 'app/assets/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'app/assets/css/icomoon.css' %}">
  <!-- Simple Line Icons -->
  <link rel="stylesheet" href="{% static 'app/assets/css/simple-line-icons.css' %}">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'app/assets/css/magnific-popup.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="{% static 'app/assets/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'app/assets/css/styleProduct.css' %}">

  <!-- Modernizr JS -->
  <script src="{% static 'app/assets/js/modernizr-2.6.2.min.js' %}"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="{% static 'app/assets/js/respond.min.js' %}"></script>
  <![endif]-->


  <!-- jQuery -->
  <script src="{% static 'app/assets/js/jquery.min.js' %}"></script>
  <!-- jQuery Easing -->
  <script src="{% static 'app/assets/js/jquery.easing.1.3.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'app/assets/js/bootstrap.min.js' %}"></script>
  <!-- Waypoints -->
  <script src="{% static 'app/assets/js/jquery.waypoints.min.js' %}"></script>
  <!-- Stellar Parallax -->
  <script src="{% static 'app/assets/js/jquery.stellar.min.js' %}"></script>
  <!-- Counter -->
  <script src="{% static 'app/assets/js/jquery.countTo.js' %}"></script>
  <!-- Magnific Popup -->
  <script src="{% static 'app/assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'app/assets/js/magnific-popup-options.js' %}"></script>
  <!-- Google Map -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
  <script src="{% static 'app/assets/js/google_map.js' %}"></script>

  <!-- Main JS (Do not remove) -->
  <script src="{% static 'app/assets/js/main.js' %}"></script>

  <script>
    function logOut() {
      location.href = "/logout"
    }

    function admin() {
      window.open("/admin", "_blank")
    }

    function contact() {
      location.href = "/contact";
    }


    function back() {
      location.href = "/back";
    }
  </script>
  <script>
    $.post( "/updatepagehistory", { lastpage: "{{request.META.HTTP_REFERER}}", csrfmiddlewaretoken: "{{ csrf_token }}"} );
  </script>
  <style>
    .carousel-control {
      width: 50px;
      opacity: 0.2;
      filter: alpha(opacity=20);
      font-size: 30px;
    }

    .carousel-indicators{
      bottom:-50px;
    }
  </style>

</head>
<body>

{% include "app/html_templates/header/navbarHeader.html" with navInfo='scenario'%}

<section id="fh5co-page" data-section="home"
         data-stellar-background-ratio="0.5" {% if current_scenario.picture %}
         style="background-image:url({{ current_scenario.picture.url }}); {% endif %}">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8">
            {% if current_scenario %}
            <h1 class="text-left">{{ current_scenario.name }}</h1>
            <!--{% for x in current_scenario.scenario_product_set.products.all %}
        <h2> Scenario-description: {{ x.name }}</h2>
            {% endfor %}-->
            <h3 class="text-left" style="color: #ddd; margin-top: -20px;">{{ current_scenario.provider }}</h3>
            {% endif %}
          </div>

                         <div class="col-md-4">
            <div class="panel panel-default pull-right"
                 style="background-color: rgba(245, 245, 245, 0.6); max-width: 200px; max-height: 150px;">
              {% if current_scenario.provider.is_visible %}
              <div class="btn">
                {% else %}
                <div class="panel-body">
                  {% endif %}
                  {% if current_scenario.provider.providerprofile %}
                  <a href="{%  url 'app:provider_profile' current_scenario.provider.providerprofile.url_name %}">
                    {% endif %}
                    <img style="max-height: 100%; max-width: 100%;"
                         {% if current_scenario.provider.is_visible %}
                         onclick="provider()"
                         {% endif %}
                         src="{{ current_scenario.provider.providerprofile.logo_image.url }}"
                         alt="providerImg">
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<!-- Scenario description boxes -->
{% with scenarios=current_scenario.scenariodescription_set.all %}
<section id="fh5co-intro" data-section="intro">
  <div class="container">
    <div class="col-md-12">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Beschreibung</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext to-animate">
                <h3>
                  Sieh Dir an wie '{{ current_scenario.name }}' funktioniert. Vielleicht ist es auch etwas für Dich
                </h3>
              </div>
            </div>
          </div>
          <div>
            {% if scenarios %}
              {% for scenario in scenarios %}
                <div class="container-fluid row">
                  <div class="panel">
                    <div class="panel-body">
                      {% if scenario.left_right %}
                        <div class="col-md-8">
                          <p class="text-justify">
                            {{scenario.description}}
                          </p>
                        </div>
                          {% comment %}
                        <div class="col-md-4">
                          <img style="height:auto; width:100%; margin: 5px;" src="{{scenario.image.url}}" alt="{{scenario.image}}">
                        </div>
                        {% endcomment %}
                          <div class="col-md-4">
                            <a href="{{ scenario.image.url }}" class="fh5co-project-item image-popup to-animate">
                                <img style="height:auto; width:100%; margin: 5px;" src="{{scenario.image.url}}" alt="{{scenario.image.url}}">
                                </a>
                          </div>
                      {% else %}
                          {% comment %}
                        <div class="col-md-4">
                          <img style="height:auto; width:100%; margin: 5px;" src="{{scenario.image.url}}" alt="{{scenario.image}}">
                        </div>
                        {% endcomment %}
                          <div class="col-md-4">
                            <a href="{{ scenario.image.url }}" class="fh5co-project-item image-popup to-animate">
                                <img style="height:auto; width:100%; margin: 5px;" src="{{scenario.image.url}}" alt="{{scenario.image.url}}">
                                </a>
                          </div>
                        <div class="col-md-8">
                          <p class="text-justify">
                            {{scenario.description}}
                          </p>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endwith %}

{% if current_scenario %}
<section id="fh5co-work" data-section="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Produkte</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              Damit Du dieses Scenario in deinem Smart Home realisieren kannst, schlägt Dir Donaalda folgende Produkte vor
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <!-- foreach product in products -->
          {% for indicator in current_scenario.scenario_product_set.products.all %}
            {% if forloop.counter0|divisibleby:3 %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
            {% endif %}
          {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for item in current_scenario.scenario_product_set.products.all %}
          <a href="{% url 'app:product' item.pk %}">
            {% if forloop.counter == 1 %}
              <div class="item active" style="margin-left: 50px; margin-right: 50px;">
            {% endif%}
              <div class="col-md-4">
                <div class="card" style="background-color:white; border-radius:5px">
                  <div class="card-block" style="padding-top:10px; padding-bottom:10px">
                    <h4 class="card-title" style="text-align:center; margin-bottom:0">{{ item.name }}</h4>
                    <h6 class="card-subtitle text-muted" style="text-align:center; margin-bottom:0">{{ item.provider }}</h6>
                  </div>
                  <div style="height: 250px;">
                    <img src="{{ item.image1.url }}" alt="" class="center-block" style="max-height: 95%; max-width: 95%;">
                  </div>
                </div>
              </div>
            {% if forloop.counter == current_scenario.scenario_product_set.products.all|length %}
              </div>
            {% else %}
              {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="item" style="margin-left: 50px; margin-right: 50px;">
              {% endif%}
            {% endif %}
          </a>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
{% endif %}

{% include "app/html_templates/sections/commentSection.html" %}

{% include "app/html_templates/footer/footerTemplate.html" %}

{% include "app/html_templates/modals/modals.html" %}

</body>
</html>

