<!-- THIS TEMPLATE SHOULD SHOW A SINGLE SCENARIO; IT IS RELATED BY THE PK IN THE URL  -->
<!-- TODO: frontend: just copied from scenariosTemplate -->
<!-- TODO: full site for a scenario -->
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'app/index-style.css' %}">
  <script src="{% static 'app/index-app.js' %}"></script>
  <title>{{ current_scenario.name }}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--bootstrap-tags for carousel-->
  <link href="../../../static/app/assets/css/carousel.css" type="text/css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../../../static/app/assets/js/bootstrap.min.js"></script>



  {% include "app/html_templates/indexToolbarTemplate.html" %}
  {% include "app/html_templates/loginTemplate.html" %}
  {% include "app/html_templates/registrationTemplate.html" %}
  {% include "app/html_templates/profileTemplate.html" %}
</head>
<body ng-app="{% block ng_app %}donaaldaApp{% endblock %}"
      ng-controller="{% block ng_controller_theme %}themeController{% endblock %}" ng-cloak>

<!--wrapper-div-->
<div layout="column" layout-align="start center" style="padding-top:99px"> <!--toolbar überlappt ohne padding das div-->

  <!--szenarioList-div-->
  <div layout="column">

    <header style="text-align:center; background:url(../../../static/app/assets/resources/not_so_smart.jpg)">
      <h1>Szenario-Name</h1>
    </header>

    <md-content style="padding-top:16px; padding-left:16px; padding-right:16px">

      <div layout="row" layout-align="space-around center" style="padding-bottom:16px">
        <div flex-xs="50" flex-sm="70" flex-gt-md="80">
          <p style="margin-right:16px"> <!--margin damit der text nicht am bild klebt-->
            Description:
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div flex-xs="50" flex-sm="30" flex-gt-md="20">
          <img style="height:auto; width:100%" src="../../../static/app/assets/resources/not_so_smart.jpg">
        </div>
      </div>

      <div layout="row" layout-align="space-around center" style="padding-bottom:16px">
        <div flex-xs="50" flex-sm="30" flex-gt-md="20">
          <img style="height:auto; width:100%" src="../../../static/app/assets/resources/not_so_smart.jpg">
        </div>
        <div flex-xs="50" flex-sm="70" flex-gt-md="80">
          <p style="margin-left:16px">
            Description:
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>

      <div layout="row" layout-align="space-around center" style="padding-bottom:16px">
        <div flex-xs="50" flex-sm="70" flex-gt-md="80">
          <p style="margin-right:16px">
            Description:
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div flex-xs="50" flex-sm="30" flex-gt-md="20">
          <img style="height:auto; width:100%" src="../../../static/app/assets/resources/not_so_smart.jpg">
        </div>
      </div>
    </md-content>
  </div>

  <!--product-images-div-->
  <div flex-xs="100" flex-sm="75" flex-gt-md="50" style="">

    <!--carousel-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div layout="row" layout-align="center center" class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="#linkToProduct">
            <img src="../../../static/app/assets/resources/not_so_smart.jpg" alt="">
          </a>
        </div>

        <div class="item">
          <a href="#linkToProduct">
            <img src="../../../static/app/assets/resources/not_so_smart.jpg" alt="">
          </a>
        </div>

        <div class="item">
          <a href="#linkToProduct">
            <img src="../../../static/app/assets/resources/not_so_smart.jpg" alt="">
          </a>
        </div>

        <div class="item">
          <a href="#linkToProduct">
            <img src="../../../static/app/assets/resources/not_so_smart.jpg" alt="">
          </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>



</body>
</html>