<div>
    SCENARIOS
    <!-- jacke was here -->

    {% if scenario_list_from_category %}
        {% for scenario in scenario_list_from_category %}
        <div>
            <a href="{% url 'app:scenario' scenario.id%} ">{{ scenario.name}}</a>
        </div>
        {% endfor %}
    {% else %}
      <div>No scenarios are available</div>
    {% endif %}
</div>
<section id="facts" class="section bg-image-1 facts text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <i class="ion-ios-calendar"></i>
                <h3>Most Important Info <br> Important Info<br>  Less Important Info</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-location"></i>
                <h3>Germany<br>Berlin</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-earth"></i>
                <h3>Smart as your pet!</h3>

            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>