{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <!-- header with all the needed js and css imports -->
  {% include "app/html_templates/header/headerTemplate.html" %}
</head>
<body>

<!-- nav bar or tool bar -->
<!-- TODO: rename to navigationBarTemplate ? -->
<header role="banner" id="fh5co-header">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default" >
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" fade>  <!-- singular -->
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message|safe }}
        </div>

        {% else %}
        <div class="alert alert-{{ message.tags }}" fade>  <!-- singular -->
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message|safe }}
        </div>
        {%  endif %}
        {% endfor %}
        {% endif %}
        {% endblock %}
        <div class="navbar-header">
          <!-- Mobile Toggle Menu Button -->
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse"
             data-target="#navbar"
             aria-expanded="false" aria-controls="navbar"><i></i></a>
          <a class="navbar-brand" href="index.html">
            <div>
              <img alt="Brand" src="{% static 'app/assets/images/myAvatar_icon.png' %}"
                   style="margin-bottom: 5px">
              <span>Donaalda</span>
            </div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" onclick="back()">Zurück</a></li>
            <li><a href="#" onclick="start()" data-nav-section="home"><span>Start</span></a></li>
            <li><a href="#" data-nav-section="comments"><span>Fragen</span></a></li>
            <li><a href="#" data-nav-section="information"><span>Szenarien</span></a></li>
            <li><a href="#" data-nav-section="contact"><span>Kontakt</span></a></li>
            <!--<li>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs navbar-btn">Apple</button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn">Samsung</button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn">Sony</button>
              </div>
            </li>-->

            {% if not request.user.is_authenticated %}
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Anmelden" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalLogin">
                  <i class="glyphicon glyphicon-log-in"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Registrieren" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalRegister">
                  <i class="glyphicon glyphicon-new-window"></i>
                </button>
              </div>
            </li>
            {% else %}
            <!--TODO: Change these to admin (if allowed), logout and profile-->
            <li>
              <div class="btn-group">
                {% if user.is_staff %}
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Verwaltung" data-placement="bottom"
                        onclick="admin()">
                  <i class="glyphicon glyphicon-cog"></i>
                </button>
                {% endif %}
                <!--TODO: Frontend logout here, acquire csrf token like this https://docs.djangoproject.com/en/1.9/ref/csrf/#ajax-->
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Abmelden" data-placement="bottom"
                        onclick="logOut()">
                  <i class="glyphicon glyphicon-log-out"></i>
                </button>
                <button type="button" class="btn btn-primary btn-xs navbar-btn"
                        data-show="tooltip" title="Profil" data-placement="bottom"
                        data-toggle="modal"
                        data-target="#myModalProfile">
                  <i class="glyphicon glyphicon-user"></i>
                </button>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>


<section id="fh5co-home" data-stellar-background-ratio="0.5">
  <div class="gradient">
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="to-animate">{{ category.name }}</h1>
              <div class="col-md-8 col-md-offset-2">
                <h2 class="to-animate">{{ category.description }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section id="fh5co-work" data-section="information">
  <div class="container">
    <div class="row">
      <div class="row row-bottom-padded-sm">
        <h1 class="to-animate">Szenarien</h1>
        {% if scenario_list_from_category %}
        {% for scenario in scenario_list_from_category %}

        <div class="col-md-4 col-sm-6 col-xxs-12">
          <a href="{% url 'app:scenario' scenario.url_name %}" class="fh5co-project-item to-animate">
            <img src="{{ scenario.picture.url }}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h1>
                {{ scenario.name }}
              </h1>
              <h2>
                {{ scenario.provider }}
              </h2>
              <h3>{{ scenario.scenario_product_set }}</h3>
              <h3>
                {% for category in scenario.category_set.all %}
                <p>
                  {{ category.name }}
                </p>
                {% endfor %}
              </h3>
              <h4> {{ scenario.description }}</h4>
            </div>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        {% endfor %}
        {% else %}
        <div>
          no scenarios
        </div>
        {% endif %}

      </div>

    </div>
  </div>
</section>


<!-- Footer -->
{% include "app/html_templates/footer/footerTemplate.html" %}

<!-- Login Modal -->
{% include "app/html_templates/modals/loginModal.html" %}

<!-- Register Modale -->
{% include "app/html_templates/modals/registerModal.html" %}

<!-- Profile Modale -->
{% include "app/html_templates/modals/profileModal.html" %}

<!-- Password Modale -->
{% include "app/html_templates/modals/passwordModal.html" %}

<!-- Delete Account Modale -->
{% include "app/html_templates/modals/deleteAccountModal.html" %}

</body>
</html>

